<div class="user-area">
    <h2>Submit a Video</h2>
    <% form_for @submission, :url => "/my-submissions/create" do |f| %>
      <%= f.label :category_id, "Topic:" %> 
      <%= select_tag "user_submission[category_id]", options_for_select(@categories.collect {|c| [c.name, c.id]}) %>
      <%= f.label :channel_id, "Channel:" %>
      <span id="channels">
        <%= select_tag "user_submission[channel_id]", options_for_select(@channels.collect {|c| [c.name, c.id]}) %>
      </span>
      <br />
      <p>
        <%= f.label :url, "Url:" %><%= f.text_field :url %>
      </p>
      <%= f.submit "Submit" %>
    <% end %>

   <%= observe_field "user_submission_category_id", :url => "/my-submissions/channels",
        :frequency => 0.25,
        :update => :channels,
        :with => 'category_id'
    %> 
  </div>

