<div id="navigable-container">
  <% render :layout => "users/navigation", :locals => { :selected => "My Submissions" } do %>
    <div class="items">
      <div class="item-wrapper">
        <ul>
          <li><%= link_to "Open", "/my-submissions" %></li>
          <li><%= link_to "Accepted", "/my-submissions/accepted" %></li>
          <li class="selected-item"><%= link_to "Declined", "/my-submissions/declined" %></li>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render :partial => "submission" %>
  
  <div class="user-area">
    <div class="divider" style="margin-left: 0">
      <h2>Your Declined Submissions</h2>
    </div>
    <div style=";margin-left: 20px;">
    <% if @submissions.size > 0 %>
      <ul id="submissions" style="list-style-type: none;padding: 0;margin: 0">
        <%= render @submissions %>
      </ul>
    <% else %>
      <p> None of your submissions were declined </p>
    <% end %>
  </div>
  </div>
</div>
