<table cellpadding="0" cellpacing="0" style="width:100%;">
	<tr>
		<td style="width:60px;"><%= link_to image_tag(@user.thumbnail.blank? ? 'profile-pic.jpg' : @user.thumbnail, :style => 'border:1px solid #E5E5E5;height:50px;width:50px;'), channel_path(@user, @channel) %></td>
		<td>
			<%= link_to @user.username, channel_path(@user, @channel), :style => 'color:#333333;font-size:11pt;font-weight:bold;text-decoration:none;' %>
		</td>
	</tr>
</table>

<% if !@user.description.blank? or user_can_administer? -%>
	<h1 class="section-header">
		<% if user_can_administer? -%>
			<span>
				<%= "Search Only |" if @channel.search_only? %>
				<%= render :partial => "admin/suggestions/suggest", :locals => {:user => nil, :channel => @channel} %> |
				<%= link_to 'Edit', {:controller => 'admin/channels', :action => 'edit', :id => @channel.id} %>
			</span>
		<% end -%>
		About
	</h1>
	<% if !@user.description.blank? -%>
		<% if @user.description.split.size > 40 -%>
			<div id="short-description">
				<%= simple_format(auto_link(@user.description.first(@user.description.split[0, 40].join(' ').length)) + "... <em><a href=\"javascript:$('short-description').hide();$('full-description').show();\">read more</a></em>", :class => 'about') %>
			</div>
			<div id="full-description" style="display:none;">
				<%= simple_format(auto_link(@user.description), :class => 'about') %>
			</div>
		<% else -%>
			<%= simple_format(auto_link(@user.description), :class => 'about') %>
		<% end -%>
	<% else -%>
		<p class="no-description">There isn't a description for this channel, yet.</p>
	<% end -%>
<% end -%>