<% subscribable = false if subscribable.nil?  -%>

<% content_tag_for(:div, channel) do -%>
	<%= render :partial => '/channels/subscribe', :locals => {:channel => channel} if subscribable %>
	<%= link_to image_tag(channel.user.thumbnail.blank? ? 'profile-pic.jpg' : channel.user.thumbnail, :class => 'avatar'), channel_path(:user => channel.user, :channel => channel) %>
	<div class="name">
		<%= link_to channel.user.username, channel_path(:user => channel.user, :channel => channel) %>
		<% if !channel.user.description.blank? -%>
			<br/><%= h(channel.user.description.first(130).strip) %><%= '...' if channel.user.description.length > 130 %>
		<% end -%>
	</div>
<% end -%>