<div id="navigable-container">
  <div id="content-main">
    <%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
      :crumbs => crumbs_for_channel_browsing(@category, @letter)} %>
		<h1 id="filter-bar">Search Channels</h1>
		<%= render :partial => "/search/search", :locals => {:link => {:controller => 'search', :action => 'channels'}, :separated => false} %>

		<h1 id="filter-bar">Browse Channels</h1>
    <%= render :partial => "letters", :locals => { :category => @category, :selected => @letter } %>
		<div class="grid-container">
			<%= render @channels, :subscribable => true %>
		</div>
		<br class="clear"/>
		<%= will_paginate @entries, :class => 'paginate-single-link-set', :param_name => 'page', :inner_window => 2, :outer_window => 0 %>
	</div>
</div>

<div id="content-sidebar">
	<%= render :partial => "/channels/explanation" %>
</div>


