<div>
	<% render :layout => '/layouts/navigation', :locals => {:selected => 'Channels'} do -%>
		<ul id="popular-categories" style="display:<%= @popular ? 'block' : 'none' %>;">
			<li<%= " class=\"selected\"" if @c == 'a' %>><%= link_to 'All Categories', {:c => 'a'} %></li>
			<% @popular_categories.each do |category| -%>
				<li<%= " class=\"selected\"" if @c == category.id.to_s %>><%= link_to category.name, {:c => category.id} %></li>
			<% end -%>
			<li style="list-style-type:none;"><%= link_to 'More', '#more', :onclick => "javascript:$('popular-categories').hide();Effect.BlindDown('all-categories', {duration: .2});", :style => 'font-size:9px;margin-left:11px;' %></li>
		</ul>
		<ul id="all-categories" style="display:<%= @popular ? 'none' : 'block' %>;">
			<li<%= " class=\"selected\"" if @c == 'a' %>><%= link_to 'All Categories', {:c => 'a'} %></li>
			<% @categories.each do |category| -%>
				<li<%= " class=\"selected\"" if @c == category.id.to_s %>><%= link_to category.name, {:c => category.id} %></li>
			<% end -%>
			<li style="list-style-type:none;"><%= link_to 'Less', '#less', :onclick => "javascript:Effect.BlindUp('all-categories', {duration: .2});Effect.BlindDown('popular-categories', {duration: .2});", :style => 'font-size:9px;margin-left:11px;' %></li>
		</ul>
	<% end -%>
	<div id="fb-stream">
		<% render(:layout => "/layouts/pagination", :locals => {:top => true, :collection => @channels}) do %>
			<div class="title">Channels</div>
		<% end -%>
		<div id="breadcrumb-trail" style="padding-bottom:6px;">
			<%= link_to 'Home', {:controller => 'videos', :action => 'friends'} %> <span class="separator">&gt;<span>
			<%= link_to 'All Channels', {:controller => 'channels', :action => 'index', :t => 'a'} %> <span class="separator">&gt;<span>
			<% if @type == 'f' -%>
				<%= link_to 'Featured', {:controller => 'channels', :action => 'index', :t => 'f'} %> <span class="separator">&gt;<span>
			<% end -%>
			<% if @c != 'a' -%>
				<%= link_to Category.find(@c).name, {:controller => 'channels', :action => 'index', :t => @type, :c => @c} %> <span class="separator">&gt;<span>
			<% end -%>
			Page <%= @page %>
		</div>
		<div id="channel-list">
			<%= render @channels, :subscribable => true %>
		</div>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @channels} %>
	</div>
</div>