<%= render :partial => "/layouts/content_header_simple", :locals => {:title => 'Channels'} %>

<div id="content-main">
	<h1 class="section-header">Search Channels</h1>
	<%= render :partial => "/search/search", :locals => {:link => {:controller => 'search', :action => 'channels'}, :separated => false} %>
	
	<h1 class="section-header">Browse Channels</h1>
	<div class="grid-container">
		<%= render @channels %>
	</div>
	<%= render :partial => "/layouts/pagination", :locals => {:collection => @channels} %>
</div>

<div id="content-sidebar">
	<%= render :partial => "/channels/about" %>
</div>