<div>
	<% if user_logged_in? -%>
		<% render :layout => "/layouts/navigation", :locals => {:selected => 'Subscriptions'} do -%>
			<div id="subscription-bookmarks">
				<ul>
					<% subscribed_channels.each do |channel| -%>
						<li<%= " class=\"selected\"" if @channel.id == channel.id %>><%= link_to channel.user.username, channel_path(:user => channel.user, :channel => channel) %></li>
					<% end -%>
				</ul>
			</div>
		<% end -%>
	<% else -%>
		<%= render :partial => '/layouts/navigation', :locals => {:current_channel => @channel} %>
	<% end -%>
	<div id="fb-stream">
		<div class="pagination clear" style="margin-bottom:5px;">
			<div class="controls">
				<% if !@videos.nil? -%>
					<% if @page.to_i > 1 -%><%= link_to image_tag('fb-previous.png', :mouseover => 'http://www.gawkk.com/images/fb-previous-active.png'), channel_path(:user => @user, :channel => @channel, :page => (@page.to_i - 1)) %><% else -%><%= image_tag('fb-previous-disabled.png') %><% end -%><% if @videos.nil? or @videos.size == @per_page -%><%= link_to image_tag('fb-next.png', :mouseover => 'http://www.gawkk.com/images/fb-next-active.png'), channel_path(:user => @user, :channel => @channel, :page => (@page.to_i + 1)) %><% else -%><%= image_tag('fb-next-disabled.png') %><% end -%>
				<% end -%>
			</div>
			<div class="title"><%= @channel.name %></div>
		</div>
		<div id="breadcrumb-trail">
			<span style="float:right;">
				<%= render :partial => '/channels/subscribe', :locals => {:channel => @channel} %>
			</span>
			<%= link_to 'Home', {:controller => 'videos', :action => 'friends'} %> <span class="separator">&gt;<span>
			<%= link_to 'All Channels', {:controller => 'channels', :action => 'index'} %> <span class="separator">&gt;<span>
			<%= link_to @channel.name, channel_path(:user => @channel.user, :channel => @channel, :_session_id => params[:_session_id]) %> <span class="separator">&gt;<span>
			Page <%= @page %>
		</div>
		
		<%= render @videos %>
		
		<div class="pagination clear" style="margin-top:15px;margin-bottom:5px;">
			<div class="controls">
				<% if !@videos.nil? -%>
					<% if @page.to_i > 1 -%><%= link_to image_tag('fb-previous.png', :mouseover => 'http://www.gawkk.com/images/fb-previous-active.png'), channel_path(:user => @user, :channel => @channel, :page => (@page.to_i - 1)) %><% else -%><%= image_tag('fb-previous-disabled.png') %><% end -%><% if @videos.nil? or @videos.size == @per_page -%><%= link_to image_tag('fb-next.png', :mouseover => 'http://www.gawkk.com/images/fb-next-active.png'), channel_path(:user => @user, :channel => @channel, :page => (@page.to_i + 1)) %><% else -%><%= image_tag('fb-next-disabled.png') %><% end -%>
				<% end -%>
			</div>
			<% if @videos.nil? or @videos.size == @per_page -%>
				<span style="position:relative;top:2px;">
					<%= link_to 'Older Posts', channel_path(:user => @user, :channel => @channel, :page => (@page.to_i + 1)), :style => 'font-size:11px;font-weight:normal;' %> <%= image_tag('fb-down-arrow.png', :style => 'vertical-align:middle;') %>
				</span>
			<% end -%>
		</div>
	</div>
</div>

<% if @current_channel_is_subscription -%>
	<script type="text/javascript" charset="utf-8">
		$('subscription-navigation-item').addClassName('selected');
		openSubscriptions();
	</script>
<% end -%>