<div>
	<%= render :partial => '/layouts/navigation', :locals => {:selected => 'All Channels'} %>
	<div id="fb-stream">
		<% render(:layout => "/layouts/pagination", :locals => {:top => true, :collection => @videos}) do %>
			<div class="title"><%= @channel.name %></div>
		<% end -%>
		<div id="breadcrumb-trail">
			<%= link_to 'Home', {:controller => 'videos', :action => 'friends'} %> <span class="separator">&gt;<span>
			<%= link_to 'All Channels', {:controller => 'channels', :action => 'index'} %> <span class="separator">&gt;<span>
			<%= link_to @channel.name, channel_path(:user => @channel.user, :channel => @channel, :_session_id => params[:session_id]) %> <span class="separator">&gt;<span>
			Page <%= @page %>
		</div>
		<%= render @videos %>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @videos} %>
	</div>
</div>