<%= render :partial => "/layouts/content_header", :locals => {:avatar_path => @user.thumbnail, :title => @channel.name, :channel => @channel} %>
<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
			:crumbs => [{:name => 'Channels', :params => {:controller => 'channels'}}, 
									{:name => @channel.name, :params => channel_path(:user => @user, :channel => @channel)}]} %>

<div id="content-main">
	<%= render @videos %>
	<br class="clear"/>
	<div class="titled-pagination-container">
		<span class="title-container">View More Videos in This Channel</span><br/>
		<div class="paginate-single-link-set">
			<% if @page.to_i > 1 -%><%= link_to '&laquo; Previous', channel_path(:user => @user, :channel => @channel, :page => (@page.to_i - 1)) %><% else -%><span class="disabled prev_page">&laquo; Previous</span><% end -%>
			<%= link_to 'Next &raquo;', channel_path(:user => @user, :channel => @channel, :page => (@page.to_i + 1)) %>
		</div>
	</div>
</div>

<div id="content-sidebar">
	<%= render :partial => "/channels/about" %>
	
	<%= render :partial => "/layouts/set", :locals => {:title => 'Recent Subscribers', 
		:link => subscribers_path(:user => @user, :channel => @channel), :force_link => true, 
		:count => @recent_subscribers_count, :collection => @recent_subscribers} %>
	
	<%= render :partial => "/layouts/set", :locals => {:title => 'Related Channels', :collection => @related_channels} %>
</div>
