<div id="navigable-container">
	<div id="content-main">
		<h1 id="filter-bar">
			<span id="subscribe-or-follow"><%= render :partial => "/channels/subscribe", :locals => {:channel => @channel} %></span>
			<span class="title-container"><%= @channel.name %></span>
    </h1>

		<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
      :crumbs => [{:name => 'Topics', :params => topic_link(true)}, topic_crumb_params(@channel),
        {:name => @channel.name, :params => smart_channel_link(@user, @channel, true)}]} %>


    <div id="channel">
      <div class="channel-thumb" style="float: left;">
        <%= link_to image_tag(@user.thumbnail.blank? ? 'profile-pic.jpg' : @user.thumbnail, :style => 'border:1px solid #E5E5E5;height:50px;width:50px;'), channel_path(@user, @channel) %>
      </div>
      <div class="channel-description" style="margin-left: 65px">
        <% if !@user.description.blank? -%>
          <% if @user.description.split.size > 40 -%>
            <div id="short-description">
              <%= simple_format(auto_link(@user.description.first(@user.description.split[0, 40].join(' ').length)) + "... <em><a href=\"javascript:$('short-description').hide();$('full-description').show();\">read more</a></em>", :class => 'about') %>
            </div>
            <div id="full-description" style="display:none;">
              <%= simple_format(auto_link(@user.description), :class => 'about') %>
            </div>
          <% else -%>
            <%= simple_format(auto_link(@user.description), :class => 'about') %>
          <% end -%>
        <% end -%>
      </div>
    </div>
    <br />
    <br />
    <br />

<div id="navigation" style="float: right">
  <%= link_to "<div#{" class=\"selected\"" if @popular}>Relevance</div>", smart_channel_link(@user,@channel, true, nil, 'relevance'), :class => 'navigation-item' %>
  <%= link_to "<div#{" class=\"selected\"" if !@popular}>Date</div>", smart_channel_link(@user,@channel, true), :class => 'navigation-item' %>

  </div>

		<br class="clear"/>
    <%= render :partial => 'videos/channel_video', :collection => @videos %>
		<br class="clear"/>
		<div class="titled-pagination-container">
			<span class="title-container">View More Videos in This Channel</span><br/>
			<div class="paginate-single-link-set">
      <% if @page.to_i > 1 -%><%= link_to '&laquo; Previous', smart_channel_link(@user,@channel, true, (@page.to_i - 1), @popular ? 'relevance' : nil) %><% else -%><span class="disabled prev_page">&laquo; Previous</span><% end -%>
				<%= link_to 'Next &raquo;', smart_channel_link(@user,@channel, true, (@page.to_i + 1), @popular ? 'relevance' : nil) %>
			</div>
		</div>
	</div>
</div>

<div id="content-sidebar">
	<%= render :partial => "/layouts/set", :locals => {:title => 'Related Channels', :collection => @related_channels} %>
</div>

<% if @current_channel_is_subscription -%>
	<script type="text/javascript" charset="utf-8">
		$('subscription-navigation-item').addClassName('selected');
		openSubscriptions();
	</script>
<% end -%>
