<div>
	<div id="fb-filter-list">
		<%= link_to "<div>Friends' Activity</div>", {:controller => 'videos', :action => 'friends'} %>
		<%= link_to "<div>Channel Videos</div>", {:controller => 'videos', :action => 'subscriptions'} %>
		<!-- <%= link_to "<div>Popular Videos</div>", {:controller => '/videos', :action => 'index', :popular => true} %>
		<%= link_to "<div>Newest Videos</div>", {:controller => '/videos', :action => 'index', :popular => false} %> -->
		<%= link_to "<div>Browse Videos</div>", {:controller => '/videos', :action => 'index', :popular => true} %>
		<!-- <%= link_to "<div>Channels</div>", {:controller => 'channels'} %> -->
		<div id="filler">&nbsp;</div>
	</div>
	<div id="fb-stream">
		<% render(:layout => "/layouts/pagination", :locals => {:top => true, :collection => @videos}) do %>
			<input type="text" value="Search Channels" onfocus="descriptiveField(this, 'Search Channels', true);" onblur="descriptiveField(this, 'Search Channels', false);" class="search"/>
		<% end -%>
		<div id="fb-inline-filter-set">
			Channel: <%= link_to @channel.proper_name, '#', :class => 'selected' %>
		</div>
		<%= render @videos %>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @videos} %>
	</div>
</div>