<div id="navigable-container">
	<% render :layout => '/layouts/navigation', :locals => {:selected => 'Channels'} do -%>
		<div class="items">
			<div class="item-wrapper">
				<ul>
					<li><%= link_to 'All Categories', {:c => 'a'} %></li>
					<% @categories.each do |category| -%>
						<li<%= " class=\"selected-item\"" if (@videos.size > 0 and @videos.first.category_id == category.id) %>><%= link_to category.name, {:c => category.id} %></li>
					<% end -%>
				</ul>
			</div>
		</div>
	<% end -%>
	<div id="content-main">
		<h1 id="filter-bar">
			<span id="subscribe-or-follow"><%= render :partial => "/channels/subscribe", :locals => {:channel => @channel} %></span>
			<span class="title-container"><%= @channel.name %></span>
		</h1>
		
		<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
					:crumbs => [{:name => 'Channels', :params => {:controller => 'channels'}}, 
											{:name => @channel.name, :params => channel_path(:user => @user, :channel => @channel)}]} %>
		
		<%= render @videos %>
		<br class="clear"/>
		<div class="titled-pagination-container">
			<span class="title-container">View More Videos in This Channel</span><br/>
			<div class="paginate-single-link-set">
				<% if @page.to_i > 1 -%><%= link_to '&laquo; Previous', channel_path(:user => @user, :channel => @channel, :page => (@page.to_i - 1)) %><% else -%><span class="disabled prev_page">&laquo; Previous</span><% end -%>
				<%= link_to 'Next &raquo;', channel_path(:user => @user, :channel => @channel, :page => (@page.to_i + 1)) %>
			</div>
		</div>
	</div>
</div>

<div id="content-sidebar">
	<%= render :partial => "/channels/about" %>
	<%= render :partial => "/channels/explanation" %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Related Channels', :collection => @related_channels} %>
</div>
