<div>
	<%= render :layout => '/layouts/navigation', :locals => {:current_channel => @channel} %>
	<div id="fb-stream">
		<% render(:layout => "/layouts/pagination", :locals => {:top => true, :collection => @videos}) do %>
			<div class="title"><%= @channel.name %></div>
		<% end -%>
		<div id="breadcrumb-trail">
			<span style="float:right;">
				<%= render :partial => '/channels/subscribe', :locals => {:channel => @channel} %>
			</span>
			<%= link_to 'Home', {:controller => 'videos', :action => 'friends'} %> <span class="separator">&gt;<span>
			<%= link_to 'All Channels', {:controller => 'channels', :action => 'index'} %> <span class="separator">&gt;<span>
			<%= link_to @channel.name, channel_path(:user => @channel.user, :channel => @channel, :_session_id => params[:_session_id]) %> <span class="separator">&gt;<span>
			Page <%= @page %>
		</div>
		<%= render @videos %>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @videos} %>
	</div>
</div>

<% if @current_channel_is_subscription -%>
	<script type="text/javascript" charset="utf-8">
		$('subscription-navigation-item').addClassName('selected');
		openSubscriptions();
	</script>
<% end -%>