<%= render :partial => "/layouts/content_header", :locals => {:avatar_path => @user.thumbnail, :title => @channel.name, :channel => @channel} %>

<div id="content-main">
	<h1 class="section-header">Subscribers</h1>
	<div class="grid-container">
		<%= render @users %>
	</div>
	<br class="clear"/>
	<div class="titled-pagination-container">
		<span class="title-container"></span><br/>
		<div class="paginate-single-link-set">
			<% if @page.to_i > 1 -%><%= link_to '&laquo; Previous', subscribers_path(:user => @user, :channel => @channel, :page => (@page.to_i - 1)) %><% else -%><span class="disabled prev_page">&laquo; Previous</span><% end -%>
			<%= link_to 'Next &raquo;', subscribers_path(:user => @user, :channel => @channel, :page => (@page.to_i + 1)) %>
		</div>
	</div>
</div>

<div id="content-sidebar">
	<%= render :partial => "/channels/about" %>
	
	<%= render :partial => "/layouts/set", :locals => {:title => 'Recent Subscribers', 
		:link => subscribers_path(:user => @user, :channel => @channel), :force_link => true, 
		:count => @recent_subscribers_count, :collection => @recent_subscribers} %>
	
	<%= render :partial => "/layouts/set", :locals => {:title => 'Related Channels', :collection => @related_channels} %>
</div>
