<%= render :partial => "/layouts/content_header_simple", :locals => {:title => "Comments", :crumbs => [{:name => 'Admin', :params => {:controller => 'admin/overview'}}, {:name => 'Comments', :params => {:controller => 'admin/comments'}}, {:name => @comment.id}]} %>

<div id="comment-edit">
	<%= error_messages_for 'comment' %>
	<% form_for(@comment, :url => {:controller => 'admin/comments', :action => 'update', :id => @comment.id}) do |f| %>
		<table cellpadding="3" cellspacing="0">
			<tr>
				<td class="title" colspan="2"><%= link_to @comment.commentable.title, {:controller => 'videos', :action => 'discuss', :id => @comment.commentable} %></td>
			</tr>
			<tr>
				<td><%= render :partial => '/users/user', :locals => {:user => @comment.user} %></td>
				<td><%= f.text_area 'body' %></td>
			</tr>
		</table>
		
		<p class="submit">
			<%= submit_tag("Update") %> or <%= link_to 'Cancel', {:controller => 'admin/comments'} %>
		</p>
	<% end -%>
</div>