<% hidden = false if hidden.nil? -%>

<% content_tag_for(:table, comment, :class => 'inline' + (hidden ? ' hidden' : ''), :cellpadding => 0, :cellspacing => 0) do -%>
	<tr>
		<td class="gutter" rowspan="2">&nbsp;</td>
		<td class="image" rowspan="2">
			<%= link_to image_tag(comment.user.thumbnail.blank? ? 'profile-pic.jpg' : comment.user.thumbnail, :class => 'avatar'), user_path(:id => comment.user) %>
		</td>
		<td class="body" colspan="2">
			<%= link_to comment.user.username, user_path(:id => comment.user) %>
			<span title="<%= comment.created_at %>"><%= time_ago_in_words(comment.created_at) %> ago</span>
			<% if !comment.twitter_username.blank? -%><span>- Also posted to <%= link_to "@#{comment.twitter_username}", "http://twitter.com/#{comment.twitter_username}", :target => 'twitter', :style => 'font-size:8pt;' %> on Twitter</span><% end -%>
			<span class="reply">- <%= link_to 'Reply', "javascript:comment('#{comment.commentable_id}','#{comment.commentable.slug}','#{comment.id}');" %></span>
			<% if user_can_edit?(comment) -%><span class="delete">| <%= link_to 'Delete', {:controller => 'comments', :action => 'destroy', :id => comment}, :confirm => 'Are you sure?', :method => :post %></span><% end -%>
		</td>
	</tr>
	<tr>
		<td class="body" colspan="2">
			<%= auto_link_usernames(comment.body) %>
		</td>
	</tr>
<% end -%>