<div id="content-main">
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => 'All Comments Stream', :links => []} %>
	<div id="activity">
		<% @comments.each do |comment| -%>
			<%= render :partial => "/comments/comment_single", :locals => {:comment => comment} %>
		<% end -%>
	</div>
	<%= render :partial => "/layouts/pagination", :locals => {:title => 'View More Comments', :collection => @comments} %>
</div>

<div id="content-sidebar">
	<% if user_logged_in? -%>
		<%= render :partial => "/users/sidebar", :locals => {:welcome => true, :about => false, :user => logged_in_user} %>
	<% end -%>
	
	<%= render :partial => "/layouts/set", :locals => {:title => 'Active Members', 
			:link => {:controller => 'users'}, :force_link => true, :collection => @active_members} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Featured Channels', 
			:link => {:controller => 'channels'}, :force_link => true, :collection => @featured_channels} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Videos by Category', 
			:link => {:controller => 'videos', :popular => false}, :force_link => true, :collection => @categories} %>
</div>
