<div>
	<%= render :partial => '/layouts/navigation' %>
	<div id="fb-stream">
		<% render(:layout => "/layouts/pagination", :locals => {:top => true, :collection => @channels, :options => {:q => @q}}) do %>
			<div class="title">Channel Results</div>
		<% end -%>
		<div id="breadcrumb-trail" style="padding-bottom:6px;">
			<%= link_to 'Home', {:controller => 'videos', :action => 'friends'} %> <span class="separator">&gt;<span>
			<%= link_to 'Search', {:controller => 'search', :action => 'index', :q => @q} %> <span class="separator">&gt;<span>
			<%= link_to 'Channels', {:controller => 'search', :action => 'channels', :q => @q} %> <span class="separator">&gt;<span>
			Page <%= @page %>
		</div>
		<div id="channel-list">
			<%= render @channels, :subscribable => true %>
		</div>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @channels, :options => {:q => @q}} %>
	</div>
</div>