<div id="navigable-container">
	<%= render :partial => "/layouts/navigation" %>
	<div id="content-main">
		<h1 id="filter-bar"><span class="title-container">Search Results for <em><%= @q %></em></span></h1>
		
		<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, :crumbs => [{:name => 'Search', :params => {:action => 'index', :q => @q}}, {:name => 'Channels'}, {:name => "<em>#{@q}</em>"}]} %>
		
		<%= render :partial => "/search/search", :locals => {:separated => false} %>
		
		<h1 id="filter-bar">Channel Results</h1>
		<div class="grid-container">
			<%= render @channels %>
		</div>
		<%= render :partial => "/layouts/pagination", :locals => {:title => 'View More Search Results', :collection => @channels, :options => {:q => @q}} %>
	</div>
</div>

<div id="content-sidebar">
	<% if user_logged_in? -%>
		<%= render :partial => "/users/sidebar", :locals => {:welcome => true, :about => false, :user => logged_in_user} %>
	<% end -%>
	
	<%= render :partial => "/layouts/set", :locals => {:title => 'Featured Channels', 
			:link => {:controller => 'channels'}, :force_link => true, :collection => @featured_channels} %>
</div>