<%= render :partial => "/layouts/content_header_simple", :locals => {:title => "Search Results for <em>#{@q}</em>", :crumbs => [{:name => 'Search', :params => {:action => 'index', :q => @q}}, {:name => 'Videos'}, {:name => "<em>#{@q}</em>"}]} %>

<div id="content-main">
	<%= render :partial => "/search/search", :locals => {:separated => false} %>
	
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => "Search Results",
			:links => [{:name => 'Channels', :options => {:controller => 'search', :action => 'channels', :q => @q}, :selected => false}, 
			{:name => 'Members', :options => {:controller => 'search', :action => 'members', :q => @q}, :selected => false}, 
			{:name => 'Videos', :options => {:controller => 'search', :action => 'videos', :q => @q}, :selected => true}, 
			{:name => 'YouTube', :options => {:controller => 'search', :action => 'youtube', :q => @q}, :selected => false}]} %>
	<div class="grid-container">
		<%= render @videos %>
	</div>
	<%= render :partial => "/layouts/pagination", :locals => {:title => 'View More Search Results', :collection => @videos, :options => {:q => @q}} %>
</div>

<div id="content-sidebar">
	<% if user_logged_in? -%>
		<%= render :partial => "/users/sidebar", :locals => {:welcome => true, :about => false, :user => logged_in_user} %>
	<% end -%>
	
	<%= render :partial => "/layouts/set", :locals => {:title => 'Active Members', 
			:link => {:controller => 'users'}, :force_link => true, :collection => @active_members} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Featured Channels', 
			:link => {:controller => 'channels'}, :force_link => true, :collection => @featured_channels} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Videos by Category', 
			:link => {:controller => 'videos', :popular => false}, :force_link => true, :collection => @categories} %>
</div>