<h1 class="section-header">Manage</h1>
<p>
	<%= link_to 'Channels', {:controller => "admin/channels"} %><br/>
	<%= link_to 'Comments', {:controller => "admin/comments"} %><br/>
	<%= link_to 'Suggestions', {:controller => "admin/suggestions"} %><br/>
	<%= link_to 'Users', {:controller => "admin/users"} %>
</p>

<h1 class="section-header">Statistics</h1>
<p>
	<%= link_to 'Comments', {:controller => "admin/statistics", :action => "comments"}, :style => bold_for('comments') %><br/>
	<%= link_to 'Likes', {:controller => "admin/statistics", :action => "likes"}, :style => bold_for('likes') %><br/>
	<%= link_to 'Registrations', {:controller => "admin/statistics", :action => "registrations"}, :style => bold_for('registrations') %>
</p>

<h1 class="section-header">Actions</h1>
<p>
	<%= link_to 'Fix Recent Thumbnails', {:controller => 'admin/import', :action => 'fix_thumbnails'}, :confirm => 'Are you sure?' %><br/>
	<% if Parameter.status?('feed_importer_status') -%>
		<%= link_to 'Shutdown Feed Importers', {:controller => 'admin/import', :action => 'shutdown'}, :confirm => 'Are you sure?' %>
	<% else -%>
		<span style="text-decoration:line-through;">Shutdown Feed Importers</span>
	<% end -%>
</p>