<div id="registration-overlay" class="buffered">
	<h1 class="section-header">Sign up to share videos with friends!</h1>
	<p id="join-or-login">
		<span>Already a member? <%= link_to_remote('Login', {:url => {:controller => 'authentication', :action => 'login'}, :method => :get}) %></span>
		Join via Twitter, Facebook or Gawkk
	</p>
	
	<table id="container" cellpadding="3" cellspacing="0">
		<tr>
			<td id="twitter-selector" class="service" onclick="javascript:chooseService('twitter', '');"><%= image_tag('service_twitter.png') %></td>
			<td rowspan="3" class="forms">
				<div id="twitter-form" class="signup_form" style="display:none;">
					<% form_tag({:controller => 'twitter', :action => 'oauth_request'}) do %>
						<p class="title" style="margin-top:25px;">Sign in Securely with Twitter</p>
						<p class="explanation">
							There's no need to sign up for an account!<br/>
							Sign in with Twitter and instantly access Gawkk!
						</p>
						<p class="authorize">
							<%= submit_tag('Authorize with Twitter') %>
						</p>
					<% end -%>
				</div>
				
				<div id="facebook-form" class="signup_form" style="display:none;">
					<p class="coming-soon">Coming Soon</p>
					<p class="title">Sign in Securely with Facebook</p>
					<p class="explanation">
						Soon, you'll be able to use your facebook account!<br/>For now, you can sign up 
						for a <%= link_to 'Gawkk', '#gawkk', :onclick => "chooseService('gawkk', 'user_username');" %> account.
					</p>
					<p class="authorize"><%= submit_tag('Connect to Facebook', :disabled => true) %></p>
				</div>
				
				<div id="gawkk-form" class="signup_form" style="display:block;">
					<p class="title">Create a New Account on Gawkk</p>
			
					<% form_tag({:controller => 'registration', :action => 'register'}, :id => 'registration_form', :onsubmit => "var valid = checkValidity(['username','password','email'], 'user'); if(valid){disableForm('submit_for_register');} return valid;") do %>
						<%= error_messages_for 'user' %>
						<%= hidden_field 'current', 'path', :id => 'current_path' %>
				
						<table cellpadding="3" cellspacing="0">
							<tr>
								<td>Username:</td>
								<td>
									<%= text_field 'user', 'username', :class => 'field' %> *
									<%= hidden_field 'valid', 'username', :value => 'false' %>
								</td>
							</tr>
							<tr>
								<td><span id="username_is_valid"><%= image_tag('blank.gif', :style => 'vertical-align:top;') %></span> Your URL:</td>
								<td style="font-size:9pt;">
									<div style="overflow-x:hidden;white-space:nowrap;width:215px;">
										http://gawkk.com/<span id="username" style="color:gray;">username</span>
									</div>
								</td>
							</tr>
							<tr>
								<td>Password:</td>
								<td>
									<%= password_field 'user', 'password', :class => 'field' %> *
									<%= hidden_field 'valid', 'password', :value => 'false' %>
								</td>
							</tr>
							<tr>
								<td>Email Address:</td>
								<td>
									<%= text_field 'user', 'email', :class => 'field' %> *
									<%= hidden_field 'valid', 'email', :value => 'false' %>
								</td>
							</tr>
							<tr>
								<td colspan="2" class="agreement" style="width:100%;">
									I am over 13 years old and agree to the Terms &amp; Privacy
								</td>
							</tr>
							<tr>
								<td colspan="2" class="agreement" style="width:100%;">
									<label for="user_send_digest_emails">
										<%= check_box 'user', 'send_digest_emails' %> Send me email updates about my friends
									</label>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="padding-right:45px;text-align:right;width:100%;">
									<% render(:layout => "/layouts/auto_disabling_submit", :locals => {:id => 'submit_for_register', :action => 'Registering'}) do -%>
										<span style="color:gray;font-size:8pt;margin-right:75px;">Required *</span> <%= submit_tag 'Register' %>
									<% end -%>
								</td>
							</tr>
						</table>
					<% end %>
					
					<%= observe_form('registration_form', :frequency => 0.5, :url => {:controller => 'registration', :action => 'check_validity'}) %>
				</div>
			</td>
		</tr>
		<tr><td id="facebook-selector" class="service" onclick="javascript:chooseService('facebook', '');"><%= image_tag('service_facebook.jpg') %></td></tr>
		<tr><td id="gawkk-selector" class="service selected-service" onclick="javascript:chooseService('gawkk', 'user_username');"><%= image_tag('logo.png') %></td></tr>
	</table>
</div>

<script type="text/javascript" charset="utf-8">
	$('current_path').value = window.location.pathname + window.location.search;
	$('user_username').focus();
</script>