<%= render :partial => "/layouts/content_header_simple", :locals => {:title => 'Find Your Friends', :description => "Find your friends already using Gawkk and invite those who aren't."} %>

<div id="content-centered">
	<table id="registration-progress" cellpadding="0" cellspacing="0" style="margin-bottom:20px;">
		<tr>
			<td><%= link_to 'Get Connected', {:controller => 'registration', :action => 'setup_services'} %></td>
			<td><%= link_to 'Setup Your Profile', {:controller => 'registration', :action => 'setup_profile'} %></td>
			<td><%= link_to 'Suggested Follows', {:controller => 'registration', :action => 'setup_suggestions'} %></td>
			<td class="active">Find Your Friends</td>
		</tr>
	</table>
	
	<div id="importer">
		<%= render :partial => "/registration/import_friends" %>
	</div>
</div>