<% form_remote_tag(:url => {:controller => 'submit', :action => 'process_post'}, :method => :post) do -%>
	<table id="post" cellpadding="0" cellspacing="0">
		<tr>
			<td class="profile-picture" rowspan="3">
				<%= link_to image_tag((logged_in_user or User.new).thumbnail.blank? ? 'default_avatar.gif' : logged_in_user.thumbnail), user_path(logged_in_user) %>
			</td>
			<td class="body">
				<%= text_area 'comment', 'body', :value => 'What are you watching?', :onfocus => "$('url-container').show();$('attach').hide();descriptiveField(this, 'What are you watching?', true);", :onblur => "descriptiveField(this, 'What are you watching?', false);", :style => 'color:#777777;' %>
			</td>
		</tr>
		<tr id="url-container" style="display:none;">
			<td class="url">
				<div>
					<span><%= image_tag('fb-post.gif') %> Video Link</span>
					<div>
						<%= text_field 'video', 'url', :value => 'http://', :onfocus => "descriptiveField(this, 'http://', true);", :onblur => "descriptiveField(this, 'http://', false);", :style => 'color:#777777;' %>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="submit">
				<span id="attach" onclick="$('url-container').show();$('attach').hide();$('comment_body').focus();">
					Attach: <%= image_tag('fb-post.gif') %>
				</span>
				<%= submit_tag 'Preview', :class => 'fb-button' %>
			</td>
		</tr>
	</table>
<% end -%>