<% if @image_keys.size == 0 -%>
	<%= image_tag("no-image.png", :alt => '', :class => 'thumbnail') %>
<% else -%>
	<% @image_keys.each_with_index do |key, i| -%>
		<%= image_tag("thumbnails/suggestions/#{key}.jpg", :alt => '', :id => key, :class => 'thumbnail suggested-image') %>
	<% end -%>
<% end -%>

<div id="select">Select a Thumbnail</div>

<div class="paginate-single-link-set">
	<% @image_keys.each_with_index do |key, i| -%>
		<a href="javascript:selectImage('<%= key %>');" id="link_for_<%= key %>" class="suggested-link"><%= i + 1 %></a>
	<% end -%>
	<% for i in ((@image_keys.size + 1)..5) -%>
		<span class="disabled"><%= i %></span>
	<% end -%>
</div>