<%= render :partial => "/layouts/content_header_simple", :locals => {:title => 'What are you watching?'} %>

<div id="content-main">
	<h1 class="section-header">Enter Video Details</h1>
	
	<%= error_messages_for 'video' %>
	
	<% form_tag({:controller => 'submit', :action => 'process_video'}, {:method => :post}) do -%>
		<%= hidden_field 'video', 'url' %>
		<%= hidden_field 'video', 'slug' %>
		<%= hidden_field 'video', 'thumbnail' %>
		
		<table id="submit" cellpadding="0" cellspacing="0">
			<tr>
				<td class="title" colspan="2">
					<%= text_field 'video', 'name', {:value => (@video.name.blank? ? 'Title...' : @video.name), :onfocus => "descriptiveField(this, 'Title...', true);revealTip('video_name');", :onblur => "descriptiveField(this, 'Title...', false);hideTips();", :style => (@video.name.blank? ? 'color:gray;' : ''), :tabindex => 1} %>
				</td>
			</tr>
			<tr>
				<td class="thumbnails" rowspan="3">
					<div id="thumbnail-container">
						<%= image_tag(@video.thumbnail.blank? ? 'no-image.png' : @video.thumbnail, :alt => '', :id => 'thumbnail') %>
						<div id="loading">
							<%= image_tag('spinner.gif') %> Loading...
						</div>
					</div>
				</td>
				<td class="right">
					<%= text_area 'video', 'description', {:value => (@video.description.blank? ? 'Description...' : @video.description), :onfocus => "descriptiveField(this, 'Description...', true);revealTip('video_description');", :onblur => "descriptiveField(this, 'Description...', false);hideTips();", :style => (@video.description.blank? ? 'color:gray;' : ''), :tabindex => 2} %>
				</td>
			</tr>
			<tr>
				<td class="right">
					<%= text_field 'video', 'embed_code', {:value => (@video.embed_code.blank? ? 'Embed Code...' : @video.embed_code), :onfocus => "descriptiveField(this, 'Embed Code...', true);revealTip('video_embed_code');", :onblur => "descriptiveField(this, 'Embed Code...', false);hideTips();", :style => (@video.embed_code.blank? ? 'color:gray' : ''), :tabindex => 3} %>
				</td>
			</tr>
			<tr>
				<td class="right">
					Posted in <%= select 'video', 'category_id', ['Select a Category...'].concat(@categories.collect{|category| [category.name, category.id]}), {}, {:onfocus => "revealTip('video_category_id');", :onblur => "hideTips();", :tabindex => 4} %> 
					on <%= Time.now.strftime("%B %d, %Y") %>
				</td>
			</tr>
			<tr>
				<td class="avatar">
					<%= image_tag(logged_in_user.thumbnail.blank? ? 'profile-pic.jpg' : logged_in_user.thumbnail) %>
				</td>
				<td class="comment">
					<%= text_area 'comment', 'body', {:value => (@comment.body.blank? ? 'Comment...' : @comment.body), :onfocus => "descriptiveField(this, 'Comment...', true);revealTip('comment_body');", :onblur => "descriptiveField(this, 'Comment...', false);hideTips();", :style => (@comment.body.blank? ? 'color:gray;' : ''), :tabindex => 5} %>
				</td>
			</tr>
			<tr>
				<td></td>
				<td class="submit-container">
					<%= submit_tag("Post", :tabindex => 6) %>
					<%= render :partial => "/comments/tweet", :locals => {:comment_only => true, :checked => @tweet_it} %>
				</td>
			</tr>
		</table>
	<% end -%>
</div>

<div id="content-sidebar">
	<div id="submit-tips">
		<div id="video_name_tip" class="tip">
			<p>Enter a short, catchy title.</p>
		</div>

		<div id="video_description_tip" class="tip">
			<p>Describe this video so people know what they're getting into.</p>
		</div>

		<div id="video_embed_code_tip" class="tip">
			<p>Embedded videos are always better. Paste the embed code right here.</p>
		</div>

		<div id="video_category_id_tip" class="tip">
			<p>Is this video about a Celebrity, Odd &amp; Outrageous or just plain Nerdy?</p>
			<p>You decide.</p>
		</div>

		<div id="comment_body_tip" class="tip">
			<p>What do you think about it? Tell your friends here.</p>
		</div>

		<%= image_tag 'tip_arrow.gif', :id => 'tip_arrow', :class => 'tip-arrow' %>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	function selectImage(key) {
		$('video_thumbnail').value = 'thumbnails/suggestions/' + key + '.jpg'

		var suggestedImages = $$('.suggested-image');
		for(var i = 0; i < suggestedImages.length; i++) {
			suggestedImages[i].hide();
		}
		$(key).show();

		var suggestedLinks = $$('.suggested-link');
		for(var i = 0; i < suggestedLinks.length; i++) {
			suggestedLinks[i].removeClassName('current');
		}
		$('link_for_' + key).addClassName('current');
	}
	
	var suggestedImages = new Array();
	var suggestedLinks = new Array();
	
	<% if @youtube_id.nil? -%>
		new Ajax.Request('/submit/suggest_thumbnails', {asynchronous:true, evalScripts:true, parameters:{name: $F('video_name')}});
	<% else -%>
		new Ajax.Request('/submit/suggest_thumbnails', {asynchronous:true, evalScripts:true, parameters:{youtube_id: '<%= @youtube_id %>'}});
	<% end -%>
	
	$('video_name').focus();
</script>
