<% if !user.description.blank? or user.services.size > 0 or user_can_edit?(user) -%>
	<h1 class="section-header">
		<% if user_can_administer? -%><span>Joined <%= user.created_at.strftime("%m/%d/%Y") %><%= ' from ' + link_to(user.ip_address, {:controller => '/admin/users', :ip_address => user.ip_address}) if !user.ip_address.blank? %></span><% end -%>
		About
	</h1>

	<div class="user-about">
		<% if !user.description.blank? -%>
			<% if @user.description.split.size > 40 -%>
				<div id="short-description">
					<%= simple_format(auto_link(@user.description.first(@user.description.split[0, 40].join(' ').length)) + "... <em><a href=\"javascript:$('short-description').hide();$('full-description').show();\">read more</a></em>", :class => 'about') %>
				</div>
				<div id="full-description" style="display:none;">
					<%= simple_format(auto_link(@user.description), :class => 'about') %>
				</div>
			<% else -%>
				<%= simple_format(auto_link(@user.description), :class => 'about') %>
			<% end -%>
		<% elsif user_can_edit?(user) -%>
			<p><em><%= link_to 'Write about yourself', {:controller => 'settings', :id => (logged_in_user.id != user.id ? user.slug : nil)} %></em></p>
		<% end -%>

		<% if user.services.size > 0 -%>
			<p class="elsewhere">
				Find me: 
				<% user.services.each_with_index do |service, i| -%>
					<%= render :partial => "/users/service", :locals => {:service => service[:name], :value => service[:value], :separator => (i < user.services.size - 1 ? true : false)} %>
				<% end -%>
			</p>
		<% elsif user_can_edit?(user) -%>
			<p class="elsewhere">
				Find me: <em><%= link_to 'Add your external services', {:controller => 'settings', :id => (logged_in_user.id != user.id ? user.slug : nil)} %></em>
			</p>
		<% end -%>
	</div>
<% end -%>