<% welcome = false if welcome.nil? -%>
<% about	 = true if about.nil? -%>
<% invite_or_recommend = false if welcome.nil? -%>

<h1 class="section-header">
	<% if welcome -%>
		Welcome,
	<% elsif user_can_edit?(user) -%>
		<span><%= link_to 'Edit Settings', {:controller => 'settings', :id => (logged_in_user.id != user.id ? user.slug : nil)} %></span>
	<% end -%>
	<%= user.username %>
</h1>
<%= render :partial => "/users/statistics", :locals => {:user => user} %>

<% if about -%>
	<%= render :partial => "/users/about", :locals => {:user => user} %>
<% end -%>

<% if invite_or_recommend -%>
	<% if false and (!logged_in_user.invite_friends_notice_dismissed? or rand(2) == 0) and @recommended_users and @recommended_users.size > 0  -%>
		<%= render :partial => "/users/recommendations" %>
	<% elsif false and logged_in_user.invite_friends_notice_dismissed? -%>
		<%= render :partial => "/registration/contact_importer_plug_sidebar" %>
	<% else -%>
		<%= render :partial => "/layouts/more_gawkk" %>
	<% end -%>
<% end -%>

<% if @followings_count > 0 -%>
	<%= render :partial => "/layouts/set", :locals => {:partial => '/users/user_small', :title => 'Following', :collection => @followings.first(15)} %>
	<div class="view-all">
		<%= link_to "View all#{@followings_count > 15 ? ' ' + @followings_count.to_s : ''}...", {:controller => 'users', :action => 'follows', :id => user} %>
	</div>
<% end -%>

<% if @followers_count > 0 -%>
	<%= render :partial => "/layouts/set", :locals => {:partial => '/users/user_small', :title => 'Followers', :collection => @followers.first(15)} %>
	<div class="view-all">
		<%= link_to "View all#{@followers_count > 15 ? ' ' + @followers_count.to_s : ''}...", {:controller => 'users', :action => 'followers', :id => user} %>
	</div>
<% end -%>

<% if @friends_count > 0 -%>
	<%= render :partial => "/layouts/set", :locals => {:partial => '/users/user_small', :title => 'Friends', :collection => @friends.first(15)} %>
	<div class="view-all">
		<%= link_to "View all#{@friends_count > 15 ? ' ' + @friends_count.to_s : ''}...", {:controller => 'users', :action => 'friends', :id => user} %>
	</div>
<% end -%>
