<% welcome = false if welcome.nil? -%>
<% about	 = true if about.nil? -%>
<% invite_or_recommend = false if welcome.nil? -%>

<h1 class="section-header">
	<% if welcome -%>
		Welcome,
	<% elsif user_can_edit?(user) -%>
		<span><%= link_to 'Edit Settings', {:controller => 'settings', :id => (logged_in_user.id != user.id ? user.slug : nil)} %></span>
	<% end -%>
	<%= user.username %>
</h1>
<%= render :partial => "/users/statistics", :locals => {:user => user} %>

<% if about -%>
	<%= render :partial => "/users/about", :locals => {:user => user} %>
<% end -%>

<% if invite_or_recommend -%>
	<% if false and (!logged_in_user.invite_friends_notice_dismissed? or rand(2) == 0) and @recommended_users and @recommended_users.size > 0  -%>
		<%= render :partial => "/users/recommendations" %>
	<% elsif false and logged_in_user.invite_friends_notice_dismissed? -%>
		<%= render :partial => "/registration/contact_importer_plug_sidebar" %>
	<% else -%>
		<%= render :partial => "/layouts/more_gawkk" %>
	<% end -%>
<% end -%>

<%= render :partial => "/layouts/set", :locals => {:partial => '/users/user_small', :title => 'Following', 
		:link => {:controller => 'users', :action => 'follows', :id => user}, 
		:count => @followings_count, :collection => @followings.first(10)} %>

<%= render :partial => "/layouts/set", :locals => {:partial => '/users/user_small', :title => 'Followers', 
		:link => {:controller => 'users', :action => 'followers', :id => user}, 
		:count => @followers_count, :collection => @followers.first(10)} %>

<%= render :partial => "/layouts/set", :locals => {:partial => '/users/user_small', :title => 'Friends', :description => '<!-- (mutual followers) -->', 
		:link => {:controller => 'users', :action => 'friends', :id => user}, 
		:count => @friends_count, :collection => @friends.first(10)} %>
