<table class="user-statistics" cellpadding="0" cellpacing="0">
	<tr>
		<td rowspan="3">
			<%= render user %>
		</td>
		<td>
			<span><%= @followings_count %></span><br/>
			<%= link_to 'Following', {:controller => 'users', :action => 'follows', :id => user} %>
		</td>
		<td>
			<span><%= @followers_count %></span><br/>
			<%= link_to 'Followers', {:controller => 'users', :action => 'followers', :id => user} %>
		</td>
		<td>
			<span><%= @posts_count %></span><br/>
			<%= link_to 'Posts', {:controller => 'users', :action => 'activity', :id => user} %>
		</td>
	</tr>
	<tr><td colspan="3"></td></tr>
	<tr><td colspan="3"></td></tr>
</table>