<div id="navigable-container">
	<%= render :partial => "/layouts/navigation" %>
	<div id="content-main">
		<h1 id="filter-bar">
			<span id="subscribe-or-follow"><%= render :partial => "/users/follow", :locals => {:user => @user} %></span>
			<span class="title-container">The Activity of <%= @user.username %></span>
		</h1>
		
		<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
					:crumbs => [{:name => 'Members', :params => {:controller => 'users'}}, 
											{:name => @user.username, :params => user_path(:id => @user)}, 
											{:name => 'Activity Stream', :params => user_path(:id => @user)}]} %>
		
		<%= render @news_items %>
		<div class="titled-pagination-container">
			<span class="title-container">View More Activity</span><br/>
			<div class="paginate-single-link-set">
				<% if @page.to_i > 1 -%><%= link_to '&laquo; Previous', user_path(:id => @user, :page => (@page.to_i - 1)) %><% else -%><span class="disabled prev_page">&laquo; Previous</span><% end -%>
				<%= link_to 'Next &raquo;', user_path(:id => @user, :page => (@page.to_i + 1)) %>
			</div>
		</div>
		<%= render :partial => "/news_items/setup" %>
	</div>
</div>

<div id="content-sidebar">
	<%= render :partial => "/users/sidebar", :locals => {:user => @user} %>
</div>