<%= render :partial => "/layouts/content_header", :locals => {:avatar_path => @user.thumbnail, :title => @user.username, :description => "Followers of #{@user.username}", :user => @user} %>

<div id="content-main">
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => "Followers of #{@user.username}", 
			:links => [{:name => 'Activity', :options => user_path(:id => @user), :selected => false}, 
			{:name => 'Profile', :options => {:controller => 'users', :action => 'profile', :id => @user}, :selected => false}, 
			{:name => 'Comments', :options => {:controller => 'users', :action => 'comments', :id => @user}, :selected => false}]} %>
	<div class="grid-container">
		<%= render @users %>
	</div>
	<%= render :partial => "/layouts/pagination", :locals => {:collection => @users} %>
</div>

<div id="content-sidebar">
	<%= render :partial => "/users/sidebar", :locals => {:user => @user} %>
</div>
