<div>
	<%= render :partial => '/layouts/navigation' %>
	<div id="fb-stream">
		<% render(:layout => "/layouts/pagination", :locals => {:top => true, :collection => @users}) do %>
			<div class="title">Members</div>
		<% end -%>
		<div id="breadcrumb-trail" style="padding-bottom:6px;">
			<%= link_to 'Home', {:controller => 'videos', :action => 'friends'} %> <span class="separator">&gt;<span>
			<%= link_to 'All Members', {:controller => 'users', :action => 'index'} %> <span class="separator">&gt;<span>
			Page <%= @page %>
		</div>
		<div id="user-list">
			<%= render @users, :followable => true %>
		</div>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @users} %>
	</div>
</div>