<div>
	<% render :layout => '/layouts/navigation', :locals => {:selected => 'Subscriptions'} do -%>
		<div id="subscription-bookmarks">
			<ul>
				<% @subscribed_channels.each do |channel| -%>
					<li><%= link_to channel.name, channel_path(:user => channel.user, :channel => channel) %></li>
				<% end -%>
			</ul>
		</div>
	<% end -%>
	<div id="fb-stream">
		<% render(:layout => "/layouts/pagination", :locals => {:top => true, :collection => @channels}) do %>
			<div class="title">Channels</div>
		<% end -%>
		<div id="breadcrumb-trail" style="padding-bottom:6px;">
			<%= link_to 'Home', {:controller => 'videos', :action => 'friends'} %> <span class="separator">&gt;<span>
			<%= link_to 'All Channels', {:controller => 'channels', :action => 'index', :t => 'a'} %> <span class="separator">&gt;<span>
			<%= link_to 'Subscriptions', {:controller => 'users', :action => 'subscriptions', :id => logged_in_user} %> <span class="separator">&gt;<span>
			Page <%= @page %>
		</div>
		<div id="channel-list">
			<%= render @channels, :subscribable => true %>
		</div>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @channels} %>
	</div>
</div>