<div id="navigable-container">
	<% render :layout => "/layouts/navigation", :locals => {:selected => 'Subscriptions'} do -%>
		<div class="items">
			<div class="item-wrapper">
				<ul>
					<% @subscribed_channels.each do |channel| -%>
						<li><%= link_to channel.user.username, channel_path(:user => channel.user, :channel => channel) %></li>
					<% end -%>
				</ul>
			</div>
		</div>
	<% end -%>
	<div id="content-main">
		<h1 id="filter-bar">
			<span class="title-container">
				<% if user_logged_in? and @user.id == logged_in_user.id -%>
					My Subscribed Channels
				<% else -%>
					Subscriptions of <%= @user.username %>
				<% end -%>
			</span>
		</h1>
		
		<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
					:crumbs => [{:name => 'Members', :params => {:controller => 'users'}}, 
											{:name => @user.username, :params => user_path(:id => @user)}, 
											{:name => 'Subscriptions', :params => {:controller => 'users', :action => 'subscriptions', :id => @user}}]} %>
		
		<div class="grid-container">
			<%= render @channels, :subscribable => true %>
		</div>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @channels} %>
	</div>
</div>

<div id="content-sidebar">
	<%= render :partial => "/users/sidebar", :locals => {:user => @user} %>
</div>