<%= render :partial => "/layouts/content_header", :locals => {:avatar_path => @user.thumbnail, :title => @user.username, :description => "Subscriptions of #{@user.username}", :user => @user} %>
<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
			:crumbs => [{:name => 'Members', :params => {:controller => 'users'}}, 
									{:name => @user.username, :params => user_path(:id => @user)}, 
									{:name => 'Channels', :params => {:controller => 'users', :action => 'subscriptions', :id => @user}}]} %>

<div id="content-main">
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => "Channels followed by #{@user.username}", 
			:links => [{:name => 'Activity', :options => user_path(:id => @user), :selected => false}, 
			{:name => 'Comments', :options => {:controller => 'users', :action => 'comments', :id => @user}, :selected => false}]} %>
	<div class="grid-container">
		<%= render @channels, :subscribable => true %>
	</div>
	<%= render :partial => "/layouts/pagination", :locals => {:collection => @channels} %>
</div>

<div id="content-sidebar">
	<%= render :partial => "/users/sidebar", :locals => {:user => @user} %>
</div>
