<%= render :partial => "/layouts/content_header_simple", :locals => {:title => "Admin", :crumbs => [{:name => 'Admin', :params => {:controller => 'admin/overview'}}, {:name => 'Searches', :params => {:controller => 'admin/searches', :action => :index}}, { :name => "New" }]} %>

<div id="content-main">
  <% form_for @search, :url => { :controller => 'admin/searches', :action => :create } do |f| %>
    <p>
    <%= f.label :query %><br />
      <%= f.text_field :query %>
    </p>
    <p>
    <%= f.label :count, "Weight" %><br />
      <%= f.text_field :count %>
    </p>
    <%= f.submit "Create" %>
  <% end %>
  </div>
