<% video ||= channel_video %>
<% news_item					= nil		if news_item.nil? -%>
<% visible_title 			= true	if visible_title.nil? -%>
<% refresh_thumbnail	= false if refresh_thumbnail.nil? -%>
<% load_activity			= false	if load_activity.nil? -%>
<% load_comments			= false	if load_comments.nil? -%>
<% container_id ||= (news_item.nil? ? '' : "_#{news_item.id}") -%>
<div id="video_<%= video.id %><%= container_id %>" class="video">
	<table class="anchored_container" cellpadding="0" cellspacing="0">
		<tr>
      <td class="action_body">
        <div class="title">
          <%= smart_video_link video  %> <font size="1"> posted <span><%= time_ago_in_words(video.posted_at) %> ago</span> </font>
          <span class="like_for_<%= video.id %>">
            <%= render :partial => "/videos/like", :locals => {:video => video, :container_id => container_id}  %>
          </span>
          
                  </div>
				<div class="body">
					<% if @tagged -%>
						<div class="thumbnail">
							<%= link_to image_tag(video.thumbnail.blank? ? 'no-image.png' : video.thumbnail), {:controller => 'videos', :action => 'discuss', :id => video} %>
						</div>
					<% else -%>
            <div class="thumbnail" style="background-image: url(/images/<%=(video.thumbnail.blank? ? '/images/no-image.png' : video.thumbnail) %>)" onclick="watchVideo('<%= video.id %>','<%= video.slug %>','<%= container_id %>');" >
              <%= image_tag("play-overlay-filler.png", :size => "128x89", :mouseover => "/images/play-overlay-hover.png") %>
						</div>
					<% end -%>
          <div class="description">
            <%= link_for_channel_name video %>
						<% if video.safe_description.length > 160 -%>
							<span id="short_description_for_<%= video.id %><%= container_id %>">
								<%= video.safe_description.first(160) %>... <%= link_to 'read more', "javascript:read('#{video.id}','#{video.slug}', '#{container_id}');" %>
							</span>
						<% end -%>
						<span id="full_description_for_<%= video.id %><%= container_id %>" <% if video.safe_description.length > 160 -%>style="display:none;"<% end -%>>
							<%= video.safe_description %>
						</span>
					</div>
					<div class="actions">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td><%= render :partial => "/videos/comment", :locals => {:video => video, :container_id => container_id} %></td>
								<% if user_can_edit?(video) -%>
									<td>| <%= link_to_remote 'Edit', {:url => {:controller => 'videos', :action => 'edit', :id => video, :container_id => container_id}, :loading => "work('#{video.id}','#{container_id}');"} %></td>
								<% end -%>
								<% if user_can_administer? -%>
									<td>
										<span id="del_link_for_<%= video.id %><%= container_id %>">
											| <%= link_to_remote 'Del', {:url => {:controller => 'admin/videos', :action => 'destroy', :id => video, :container_id => container_id}, :confirm => "Are you sure?", :loading => "work('#{video.id}','#{container_id}');", :complete => "rest('#{video.id}','#{container_id}');"}, {:method => :post, :class => 'destructive'} %>
										</span>
									</td>
								<% end -%>
								<td>
									<span id="more_link_for_<%= video.id %><%= container_id %>">
										<%= render :partial => "/videos/more_link", :locals => {:video => video, :open => true, :container_id => container_id} %>
									</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</td>
		</tr>
	</table>
	<div id="share_for_<%= video.id %><%= container_id %>" class="share" style="display:none;"></div>
	<div id="embed_for_<%= video.id %><%= container_id %>" class="embed" style="display:none;"></div>
	<%#= render :partial => "/tags/list", :locals => {:video => video, :tagged => @tagged} %>
	<%#= render :partial => "/news_items/activity", :locals => {:video => video, :load_activity => load_activity, :container_id => container_id} %>
	<%= render :partial => "/comments/list", :locals => {:news_item => news_item, :video => video, :load_comments => load_comments, :container_id => container_id} %>
</div>
