<% container_id ||= '' -%>

<div id="video_<%= video.id %><%= container_id %>" class="video video-edit" style="display:none;">
	<% remote_form_for(video, :url => {:controller => 'videos', :action => 'update', :id => video, :container_id => container_id}) do |f| %>
		<%= hidden_field 'thumbnail', 'for_video', :id => "thumbnail_for_video_#{video.id}#{container_id}" %>
		
		<div class="about">Edit this Video:</div>
		<div class="title">
			<%= f.text_field 'name' %>
		</div>
		<div class="body">
			<div class="thumbnail-container">
				<div id="thumbnail_for_video_<%= video.id %><%= container_id %>_container" class="thumbnail" style="background-image:url(/images/<%= video.thumbnail.blank? ? 'no-image.png' : video.thumbnail + '?' + Time.now.to_i.to_s %>);">
					<%= link_to_remote image_tag('choose-a-thumbnail-overlay.png', :id => "thumbnail_for_video_#{video.id}#{container_id}_preview"), {:url => {:controller => 'videos', :action => 'thumbnail_search', :title => video.title, :video_id => video.id, :container_id => container_id}} %>
				</div>
				<div id="loading_selected_thumbnail_<%= video.id %><%= container_id %>" class="loading">
					<%= image_tag('spinner.gif') %> Loading...
				</div>
			</div>
			<div class="field-container">
				<div class="description">
					<%= f.text_area 'description' %>
				</div>
				<div class="posted">
					Posted in <%= f.select 'category_id', @categories.collect{|category| [category.name, category.id]}, {} %>
					on <%= video.posted_at.strftime("%B %d, %Y") %>
				</div>
				<div class="embed_code">
					<%= f.text_area 'embed_code', {:value => (video.embed_code.blank? ? 'Embed Code...' : video.embed_code), :onfocus => "descriptiveField(this, 'Embed Code...', true);", :onblur => "descriptiveField(this, 'Embed Code...', false);", :style => (video.embed_code.blank? ? 'color:gray' : '')} %>
				</div>
				<p class="submit">
					<%= submit_tag 'Update' %> or <%= link_to_remote 'Cancel', {:url => {:controller => 'videos', :action => 'update', :id => video, :container_id => container_id}, :method => :get, :loading => "work('#{video.id}','#{container_id}');"} %>
				</p>
			</div>
			<br class="clear"/>
		</div>
	<% end -%>
</div>