<% content_tag_for(:div, video, :class => 'video video-edit', :style => 'display:none;') do -%>
	<% remote_form_for(video, :url => {:controller => 'videos', :action => 'update', :id => video}) do |f| %>
		<div class="about">Edit this Video:</div>
		<div class="title">
			<%= f.text_field 'name' %>
		</div>
		<div class="body">
			<div class="thumbnail-container">
				<div class="thumbnail">
					<%= image_tag(video.thumbnail.blank? ? 'no-image.png' : video.thumbnail) %>
				</div>
				<p><%= link_to 'Import a new Thumbnail', '#change', :onclick => "Effect.BlindDown('thumbnail_override_for_#{video.id}', { duration: 0.2 });" %></p>
			</div>
			<div class="field-container">
				<div class="description">
					<%= f.text_area 'description' %>
				</div>
				<div class="posted">
					Posted in <%= f.select 'category_id', @categories.collect{|category| [category.name, category.id]}, {} %>
					on <%= video.posted_at.strftime("%B %d, %Y") %>
				</div>
				<div id="thumbnail_override_for_<%= video.id %>" class="thumbnail_url" style="display:none;">
					<%= text_field 'thumbnail', 'for_video', {:value => 'Enter a Thumbnail URL...', :onfocus => "descriptiveField(this, 'Enter a Thumbnail URL...', true);", :onblur => "descriptiveField(this, 'Enter a Thumbnail URL...', false);", :style => 'color:gray;'} %>
				</div>
				<div class="embed_code">
					<%= f.text_area 'embed_code', {:value => (video.embed_code.blank? ? 'Embed Code...' : video.embed_code), :onfocus => "descriptiveField(this, 'Embed Code...', true);", :onblur => "descriptiveField(this, 'Embed Code...', false);", :style => (video.embed_code.blank? ? 'color:gray' : '')} %>
				</div>
				<p class="submit">
					<%= submit_tag 'Update' %> or <%= link_to_remote 'Cancel', {:url => {:controller => 'videos', :action => 'update', :id => video}, :method => :get, :loading => "work('#{video.id}');"} %>
				</p>
			</div>
			<br class="clear"/>
		</div>
	<% end -%>
<% end -%>