% news_item					= nil		if news_item.nil? -%>
<% visible_title 			= true	if visible_title.nil? -%>
<% refresh_thumbnail	= false if refresh_thumbnail.nil? -%>
<% load_activity			= false	if load_activity.nil? -%>
<% load_comments			= false	if load_comments.nil? -%>

<% container_id ||= (news_item.nil? ? '' : "_#{news_item.id}") -%>
<div id="video_<%= video.id %><%= container_id %>" class="video">
	<table class="anchored_container" cellpadding="0" cellspacing="0">
		<tr>
			<% if !news_item.nil? -%>
				<td class="action_owner" rowspan="2">
					<%#= intelligent_author_avatar news_item.user %>
				</td>
				<td class="action_description">
					<%= news_item.render_simple %> <span><%= time_ago_in_words(news_item.created_at) %> ago</span>
				</td>
			<% elsif !video.posted_by.nil? -%>
				<td class="action_owner" rowspan="2">
					<%#= intelligent_author_avatar video.posted_by %>
				</td>
				<td class="action_description">
					<%= intelligent_author_name video.posted_by %> posted this video <span><%= time_ago_in_words(video.posted_at) %> ago</span>
				</td>
			<% else -%>
				<td class="action_owner" rowspan="2"></td>
				<td class="action_description"></td>
			<% end -%>
		</tr>
		<tr>
      <td class="action_body">
        <div class="title">
          <%= link_to video.title, discuss_video_path(video) %>
        </div>
				<div class="body">
					<% if @tagged -%>
						<div class="thumbnail">
							<%#= link_to image_tag(video.thumbnail.blank? ? 'no-image.png' : video.thumbnail), {:controller => 'videos', :action => 'discuss', :id => video} %>
						</div>
					<% else -%>
						<div class="thumbnail" onclick="watchVideo('<%= video.id %>','<%= video.slug %>','<%= container_id %>');" >
							<%#= image_tag('play-overlay-filler.png', :mouseover => "/images/play-overlay-hover.png") %>
						</div>
					<% end -%>
					<div class="description">
						<% if video.safe_description.length > 160 -%>
							<span id="short_description_for_<%= video.id %><%= container_id %>">
								<%= video.safe_description.first(160) %>... <%= link_to 'read more', "javascript:read('#{video.id}','#{video.slug}', '#{container_id}');" %>
							</span>
						<% end -%>
						<span id="full_description_for_<%= video.id %><%= container_id %>" <% if video.safe_description.length > 160 -%>style="display:none;"<% end -%>>
							<%= video.safe_description %>
						</span>
					</div>
					<div class="actions">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td><%= render :partial => "/videos/comment", :locals => {:video => video, :container_id => container_id} %></td>
								<td>
									<span class="like_for_<%= video.id %>">
										<%= render :partial => "/videos/like", :locals => {:video => video, :container_id => container_id} %>
									</span>
								</td>
								<% if user_can_edit?(video) -%>
									<td>| <%= link_to_remote 'Edit', {:url => {:controller => 'videos', :action => 'edit', :id => video, :container_id => container_id}, :loading => "work('#{video.id}','#{container_id}');"} %></td>
								<% end -%>
								<% if user_can_administer? -%>
									<td>
										<span id="del_link_for_<%= video.id %><%= container_id %>">
											| <%= link_to_remote 'Del', {:url => {:controller => 'admin/videos', :action => 'destroy', :id => video, :container_id => container_id}, :confirm => "Are you sure?", :loading => "work('#{video.id}','#{container_id}');", :complete => "rest('#{video.id}','#{container_id}');"}, {:method => :post, :class => 'destructive'} %>
										</span>
									</td>
								<% end -%>
								<td>
									<span id="more_link_for_<%= video.id %><%= container_id %>">
										<%= render :partial => "/videos/more_link", :locals => {:video => video, :open => true, :container_id => container_id} %>
									</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</td>
		</tr>
	</table>
	<div id="share_for_<%= video.id %><%= container_id %>" class="share" style="display:none;"></div>
	<div id="embed_for_<%= video.id %><%= container_id %>" class="embed" style="display:none;"></div>
	<%= render :partial => "/tags/list", :locals => {:video => video, :tagged => @tagged} %>
	<%= render :partial => "/news_items/activity", :locals => {:video => video, :load_activity => load_activity, :container_id => container_id} %>
	<%= render :partial => "/comments/list", :locals => {:news_item => news_item, :video => video, :load_comments => load_comments, :container_id => container_id} %>
</div>
