<table class="share-container" cellpadding="0" cellspacing="0">
	<tr>
		<td style="vertical-align:top;">
			<%= render :partial => "/videos/statistics", :locals => {:video => video} %>
		</td>
		<td style="vertical-align:top;">
			<div class="close">
				<div class="clickable-area" onclick="$('more_link_arrow_for_<%= video.id %>').src = '/images/menu-arrow.png';$('share_for_<%= video.id %>').hide();">
					<%= image_tag('close.png') %>
				</div>
			</div>
			<br class="clear"/>
			<table class="thid-party" cellpadding="0" cellspacing="0" style="border:1px solid #E5E5E5;">
				<tr>
					<td>
						<%= image_tag('favicon_twitter.png') %>
						<%= link_to 'Twitter', "http://twitter.com/home?status=http://gawkk.com/#{video.short_code.blank? ? 'discuss/' + video.slug : 'v/' + video.short_code}%20-%20", :target => 'twitter' %>
					</td>
					<td>
						<%= image_tag('favicon_delicious.png') %>
						<%= link_to 'Delicious', 'http://delicious.com/save', :onclick => "window.open('http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url='+encodeURIComponent('http://gawkk.com/#{video.slug}/discuss')+'&amp;title='+encodeURIComponent('Gawkk: #{h(video.name.each_char.collect{|c| c == '\'' ? '\\' + '\'' : c}.join)}'), 'delicious','toolbar=no,width=550,height=550'); return false;" %>
					</td>
				</tr>
				<tr>
					<td>
						<%= image_tag('favicon_facebook.png') %>
						<%= link_to 'Facebook', "http://www.facebook.com/share.php?u=/#{video.slug}/discuss", :onclick => "return fbs_click('http://gawkk.com/#{video.slug}/discuss')", :class => 'fb_share_link', :target => 'facebook' %>
					</td>
					<td>
						<%= image_tag('favicon_digg.png') %>
						<%= link_to 'Digg', "http://digg.com/submit?url=http://gawkk.com/#{video.slug}/discuss&title=#{video.title}&media=video", :target => 'digg' %>
					</td>
				</tr>
				<tr>
					<td>
						<%= image_tag('email.png') %>
						<%= link_to 'Email', "mailto:?body=http://gawkk.com/#{video.slug}/discuss" %>
					</td>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>
</table>