<h2><a href="http://gawkk.com/<%= video.slug %>/discuss"><%= video.title %></a></h2>

<table class="video" border="0" cellspacing="0" cellpadding="3" width="100%">
	<tr>
		<td class="thumbnail" width="140">
			<a href="http://gawkk.com/<%= video.slug %>/discuss">
				<img src="http://gawkk.com/images/<%= video.thumbnail.blank? ? 'no-image.png' : video.thumbnail %>" width="127" height="89" class="inline" vspace="4"/>
			</a>
		</td>
		<td><p><%= video.safe_description.length > 200 ? video.safe_description.first(200) + '...' : video.safe_description %></p></td>
	</tr>
</table>

<table class="actions" border="0" cellspacing="0" cellpadding="3" width="100%">
	<% if !video.posted_by.feed_owner? -%>
		<tr>
			<td class="image"><img src="http://gawkk.com/images/add.png"/></td>
			<td>Originally posted by <a href="http://gawkk.com/<%= video.posted_by.slug %>"><%= video.posted_by.username %></a></td>
		</tr>
	<% end -%>
	<% video.likes_by(@user, true) do |likes| -%>
		<tr>
			<td class="image"><img src="http://gawkk.com/images/tick.png"/></td>
			<td>Liked by <%= summarize_likes_absolute(likes) %></td>
		</tr>
	<% end -%>
	<% video.comments_by(@base_user, @include_followings) do |comments| -%>
		<% comments.each do |comment| -%>
			<tr>
				<td class="image">
					<a href="http://gawkk.com/<%= comment.user.slug %>">
						<img src="http://gawkk.com/images/<%= comment.user.thumbnail.blank? ? 'profile-pic.jpg' : comment.user.thumbnail %>" height="24" width="24"/>
					</a>
				</td>
				<td><a href="http://gawkk.com/<%= comment.user.slug %>"><%= comment.user.username %></a>: <%= comment.body %>.</td>
			</tr>
		<% end -%>
	<% end -%>
</table>