<div class="content-section">
  <div style="margin-left: 25px;">	
      <h1 id="filter-bar"><span class="title-container"><%= @category.name %></span></h1>
		
      <%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
        :crumbs => [{:name => 'Topics', :params => topic_link(true)}, 
          {:name => @category.name, :params => smart_category_link(@category, false, true)}]} %>
  </div>

  
  <%= render :partial => "channels/letters", :locals => { :category => @category, :selected => @letter} %>


 
  <div class="divider">
    <h2>Featured Channels</h2>
  </div>
   <div class="grid-container" style="height: 400px;margin-left: 20px;">
    <%= render @related_channels %>
  </div>

  <div class="divider">
    <h2>Videos</h2>
  </div>
  <div class="main-content-area" id="videos" style = "margin-left: 40px">
    <%= render :partial => 'channel_video', :collection => @videos %>
    <br class="clear"/>
    <div id="pagination" class="titled-pagination-container">
        <div class="paginate-single-link-set">
        </div>
    </div>
  </div>
</div>

