<div class="content-section">
  <div style="margin-left: 25px;">	
      <h1 id="filter-bar"><span class="title-container"><%= @category.name %></span></h1>
		
      <%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
                  :crumbs => [{:name => 'Topics', :params => {:controller => 'videos', :action => 'index'}}, 
                              {:name => @category.name, :params => category_path(@category)}]} %>
                            </div>
                            <br />
                            <br />
                            <br />
                            <br />
  <div class="divider">
    <h2>Featured Channels</h2>
  </div>
    <div id="channel-list" style="margin-left: 28px;">
      <table>
        <% @related_channels.each_with_index do |r, i| %>
          <% if i % 10 == 0 %>
            <% if i > 0 %>
              </tr>
            <% end %>
            <tr>
          <% end %>
          <td width="90">
            <div class="small-channel" style="width: 70px;">
              <%= link_to image_tag(r.user.thumbnail.blank? ? 'profile-pic.jpg' : r.user.thumbnail, :size => "48x48", :style => "text-align: center"), channel_path(:user => r.user, :channel => r) %><br />
              <%= link_to r.user.username, channel_path(:user => r.user, :channel => r) %>
            </div>
          </td>
        
        <% end %>      
        </tr>
      </table>
    </div>

    <br />
    <br />
    <br />
  <div class="divider">
    <h2>Videos</h2>
  </div>
  <div class="main-content-area" id="videos">
		<%= render @videos %>
    <% title			||=  'View More Videos in This Topic' -%>
<% collection	||= @videos -%>
<% options		||= {:tagged => @tagged} -%>
<% force_next	||= false -%>

<br class="clear"/>
<div class="titled-pagination-container">
	<% if !title.blank? -%><span class="title-container"><%= title %></span><br/><% end -%>
	<div class="paginate-single-link-set">
    <% if @page.to_i > 1 -%>
      <%= link_to_remote '&laquo; Previous', :update => "videos", :url => { :controller => :videos, :action => :category_ref, :category => @category.id, :popular => @popular, :page => (@page.to_i - 1) } %>
    <% else -%>
    <span class="disabled">&laquo; Previous</span>
  <% end -%>
    <% if force_next or collection.nil? or collection.size == @per_page -%>
      <%= link_to_remote 'Next &raquo;', :update => "videos", :url => { :controller => :videos, :action => :category_ref, :category => @category.id, :popular => @popular, :page => (@page.to_i + 1) } %>
    <% else %>
    <span class="disabled">Next &raquo;</span>
  <% end -%>
	</div>
</div>
  </div>
</div>



<div id="content-sidebar" style="margin-right: 30px;">
  <%= link_to_remote "Newest", :update => "videos", :url => { :controller => :videos, :action => :category_ref, :category => @category.id, :popular => false } %>
  <%= link_to_remote "Popular", :update => "videos", :url => { :controller => :videos, :action => :category_ref, :category => @category.id, :popular => true } %>
</div>
