<div class="content-section">
  <div style="margin-left: 25px;">	
      <h1 id="filter-bar"><span class="title-container"><%= @category.name %></span></h1>
		
      <%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
        :crumbs => [{:name => 'Topics', :params => topic_link(true)}, 
          {:name => @category.name, :params => smart_category_link(@category, false, true)}]} %>
  </div>
<script type="text/javascript"><!--

google_ad_client = "ca-pub-0823990884917063";

/* Topics Page */

google_ad_slot = "2687144730";

google_ad_width = 728;

google_ad_height = 90;

//-->

</script>
  <div align="center"><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div>
  <%= render :partial => "channels/letters", :locals => { :category => @category, :selected => @letter} %>


 
  <div class="divider">
    <h2>Featured Channels</h2>
  </div>
   <div class="grid-container" style="height: 400px;margin-left: 20px;">
    <%= render @related_channels %>
  </div>

  <% unless @videos.empty? %>
  <div class="divider">
    <h2>Videos</h2>
  </div>
  <div class="main-content-area" id="videos" style = "margin-left: 40px">
    <%= render :partial => 'channel_video', :collection => @videos %>
    <br class="clear"/>
    <div id="pagination" class="titled-pagination-container">
        <div class="paginate-single-link-set">
        </div>
    </div>
  </div>
<% end %>
</div>

