<div class="content-section">
  <div style="margin-left: 25px;">	
      <h1 id="filter-bar"><span class="title-container"><%= @category.name %></span></h1>
		
      <%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
        :crumbs => [{:name => 'Topics', :params => topic_link(true)}, 
          {:name => @category.name, :params => smart_category_link(@category, false, true)}]} %>
                            </div>
                            <br />
  <div class="divider">
    <h2>Featured Channels</h2>
  </div>
    <div id="channel-list" style="margin-left: 28px;">
      <table>
        <% @related_channels.each_with_index do |r, i| %>
          <% if i % 10 == 0 %>
            <% if i > 0 %>
              </tr>
            <% end %>
            <tr height="90">
          <% end %>
          <td width="120" style = "border: none">
            <div class="small-channel" style="width: 110px;text-align: center">
              <%= link_to image_tag(r.user.thumbnail.blank? ? 'profile-pic.jpg' : r.user.thumbnail, :size => "48x48", :style => "text-align: center"), channel_path(:user => r.user, :channel => r) %><br />
              <%= link_to truncate(r.user.username, 12), channel_path(:user => r.user, :channel => r) %>
            </div>
          </td>
        
        <% end %>      
        </tr>
      </table>
    </div>

    <br />
    <br />
    <br />
  <div class="divider">
    <h2>Videos</h2>
  </div>
  <div class="main-content-area" id="videos" style = "margin-left: 40px">
    <%= render :partial => 'channel_video', :collection => @videos %>
    <% title			||=  'View More Videos in This Topic' -%>
<% collection	||= @videos -%>
<% options		||= {:tagged => @tagged} -%>
<% force_next	||= false -%>

<br class="clear"/>
<div id="pagination" class="titled-pagination-container">
	<% if !title.blank? -%><span class="title-container"><%= title %></span><br/><% end -%>
    <div class="paginate-single-link-set">
    <% if @page.to_i > 1 -%>
      <%= link_to_remote '&laquo; Previous', :update => "videos", :url => { :controller => :videos, :action => :category_ref, :category => @category.id, :newest => !@popular, :page => (@page.to_i - 1) } %>
    <% else -%>
    <span class="disabled">&laquo; Previous</span>
  <% end -%>
    <% if force_next or collection.nil? or collection.size == @per_page -%>
      <%= link_to_remote 'Next &raquo;', :update => "videos", :url => { :controller => :videos, :action => :category_ref, :category => @category.id, :newest => !@popular, :page => (@page.to_i + 1) } %>
    <% else %>
    <span class="disabled">Next &raquo;</span>
  <% end -%>
</div>
  </div>
</div>



<div id="content-sidebar" style="margin-right: 30px;">
  <div id="navigation">
    <%= link_to_remote "<div id=\"popular-link\" class=\"selected\">Popular</div>", {:update => "videos", :url => { :controller => :videos, :action => :category_ref, :category => @category.id }}, { :class => "navigation-item" }%>
    <%= link_to_remote "<div id=\"newest-link\">Newest</div>",{ :update => "videos", :url => { :controller => :videos, :action => :category_ref, :category => @category.id, :newest => true }}, {:class => "navigation-item"} %>

  </div>
</div>
