<%= render :partial => "/layouts/content_header", :locals => {:avatar_path => @category.thumbnail, :title => @category.name, :description => (params[:popular] ? 'Popular Videos' : 'Newest Videos') + " in the #{@category.name} Category"} %>
<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
			:crumbs => [{:name => 'Categories', :params => {:controller => 'videos', :action => 'index', :popular => false}}, 
									{:name => @category.name, :params => {:controller => 'videos', :action => 'category', :category => @category, :popular => @popular}}, 
									{:name => @popular ? 'Popular Videos' : 'Newest Videos', :params => {:controller => 'videos', :action => 'category', :category => @category, :popular => @popular}}]} %>

<div id="content-main">
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => (@popular ? 'Popular Videos' : 'Newest Videos'), 
			:links => [{:name => 'Popular Videos', :options => {:controller => 'videos', :action => 'category', :category => @category, :popular => true, :tagged => @tagged}, :selected => @popular}, 
			{:name => 'Newest Videos', :options => {:controller => 'videos', :action => 'category', :category => @category, :popular => false, :tagged => @tagged}, :selected => !@popular}]} %>
	<%= render @videos, :tagged => @tagged %>
	<%= render :partial => "/layouts/pagination", :locals => {:title => @popular ? 'View More Popular Videos' : 'View More Newest Videos', :collection => @videos, :options => {:tagged => @tagged}} %>
</div>

<div id="content-sidebar">
	<%= render :partial => "/categories/about", :locals => {:link => {:controller => 'videos', :action => 'category', :category => @category}} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Related Channels', :collection => @related_channels} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Videos by Category', :collection => @categories} %>
</div>
