<div id="navigable-container">
	<div id="content-main">			<h1 id="filter-bar">
			<span class="title-container"><%= @video.title %></span>
    </h1>

		<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
      :crumbs => [{:name => 'Topics', :params => {:controller => 'videos', :action => "index"}},{:name => @video.category.name, :params => smart_category_link(@video.category,@video.popular?, true)}, 
        {:name => @video.posted_by.channels.first.name, :params => smart_channel_link(@video.posted_by, @video.posted_by.channels.first, true)},
    {:name => @video.title}]} %>

    <br />

		
    <%= render :partial => "channel_video", :locals => { :channel_video => @video, :news_item => @news_item, :visible_title => false, :load_activity => true, :load_comments => true } %>
    <%= render :partial => "/news_items/setup" %>
    <% if @parts %>
      <div><p>View other parts...</p> <%= render :partial => 'channel_video', :collection => @parts %> </div>
    <% else %>
      <h1>HI</h1>
    <% end %>
    </div>

</div>
<div id="content-sidebar">
			<%= render :partial => "/layouts/set", :locals => {:title => 'Related Videos', :collection => @related_videos, 
						:link => {:controller => 'search', :action => 'videos', :q => @q}, :force_link => true} %>

			<% if !@channel.nil? -%>
				<%= render :partial => "/layouts/set", :locals => {:title => @channel.name, :collection => @channel_videos, 
							:link => channel_path(@channel.user, @channel), :force_link => true} %>
			<% end -%>

			<% if !@category.nil? -%>
				<%= render :partial => "/layouts/set", :locals => {:title => @category.name, :collection => @category_videos, 
							:link => {:controller => 'videos', :action => 'category', :category => @category, :popular => false}, :force_link => true} %>
			<% end -%>
		</div>

<script type="text/javascript" charset="utf-8">
	watchVideoAndScroll('<%= @video.id %>','<%= @video.slug %>', false, '<%= @news_item.nil? ? '' : '_' + @news_item.id.to_s %>');
</script>
