<%= render :partial => "/layouts/content_header_simple", :locals => {:title => @video.title} %>

<div id="content-main">
	<%= render @video, :visible_title => false, :load_comments => true %>
</div>

<div id="content-sidebar">
	<%= render :partial => "statistics", :locals => {:video => @video} %>
</div>

<script type="text/javascript" charset="utf-8">
	watchVideo('<%= @video.id %>','<%= @video.slug %>');
</script>