<div id="navigable-container" style="width:100%;">
	<% render :layout => '/layouts/navigation', :locals => {:selected => "#{@video.popular? ? 'Popular' : 'Newest'} Videos"} do -%>
		<div class="items">
			<div class="item-wrapper">
				<ul>
					<li><%= link_to 'All Categories', {:controller => 'videos', :action => 'index', :popular => @video.popular?} %></li>
					<% @categories.each do |category| -%>
						<li<%= " class=\"selected-item\"" if @video.category.id == category.id %>><%= link_to category.name, {:controller => 'videos', :action => 'category', :category => category, :popular => @video.popular?} %></li>
					<% end -%>
				</ul>
			</div>
		</div>
	<% end -%>
	<div style="float:right;width:830px;">
		<%= render :partial => "/layouts/content_header_simple", :locals => {:title => @video.title, 
					:crumbs => [{:name => @video.popular? ? 'Popular Videos' : 'Newest Videos', :params => {:controller => 'videos', :action => 'index', :popular => @video.popular?}}, 
											{:name => @video.category.name, :params => category_path(@video.category, :popular => @video.popular?)}, 
					{:name => @video.title}]} %>
		
		<div style="float:left;width:650px;">
			<%= render @video, :news_item => @news_item, :visible_title => false, :load_activity => true, :load_comments => true %>
			<%= render :partial => "/news_items/setup" %>
		</div>
		<div id="content-sidebar" style="float:right;width:160px;">
			<%= render :partial => "/layouts/set", :locals => {:title => 'Related Videos', :collection => @related_videos, 
						:link => {:controller => 'search', :action => 'videos', :q => @q}, :force_link => true} %>

			<% if !@channel.nil? -%>
				<%= render :partial => "/layouts/set", :locals => {:title => @channel.name, :collection => @channel_videos, 
							:link => channel_path(@channel.user, @channel), :force_link => true} %>
			<% end -%>

			<% if !@category.nil? -%>
				<%= render :partial => "/layouts/set", :locals => {:title => @category.name, :collection => @category_videos, 
							:link => {:controller => 'videos', :action => 'category', :category => @category, :popular => false}, :force_link => true} %>
			<% end -%>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	watchVideoAndScroll('<%= @video.id %>','<%= @video.slug %>', false, '<%= @news_item.nil? ? '' : '_' + @news_item.id.to_s %>');
</script>
