<div>
	<div id="fb-filter-list">
		<%= link_to "<div>Friends' Activity</div>", {:controller => 'videos', :action => 'friends'} %>
		<%= link_to "<div>Subscriptions</div>", {:controller => 'videos', :action => 'subscriptions'} %>
		<%= link_to "<div class=\"selected\">Browse Videos</div>", {:controller => '/videos', :action => 'index', :popular => true} %>
		<%= link_to "<div>Browse Channels</div>", {:controller => 'channels'} %>
		<div id="filler">&nbsp;</div>
	</div>
	<div id="fb-stream">
		<% render(:layout => "/layouts/pagination", :locals => {:top => true, :collection => nil}) do %>
			<input type="text" value="Search Videos" onfocus="descriptiveField(this, 'Search Videos', true);" onblur="descriptiveField(this, 'Search Videos', false);" class="search"/>
		<% end -%>
		<!-- <div id="fb-inline-filter-set">
			Category: <%= link_to @video.category.name, '#', :class => 'selected' %>
		</div> -->
		<%= render @video, :i => 0 %>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	watchVideo('<%= @video.id %>','<%= @video.slug %>','','<%= params[:_session_id] %>');
</script>