<%= render :partial => "/layouts/content_header_simple", :locals => {:title => @video.title, 
			:crumbs => [{:name => 'Videos', :params => {:controller => 'videos', :action => 'index', :popular => @video.popular?}}, 
			{:name => @video.category.name, :params => {:controller => 'videos', :action => 'category', :category => @video.category, :popular => @video.popular?}}, 
			{:name => @video.title}]} %>

<div id="content-main">
	<%= render @video, :visible_title => false, :load_comments => true %>
</div>

<div id="content-sidebar">
	<%= render :partial => "statistics", :locals => {:video => @video} %>
</div>

<script type="text/javascript" charset="utf-8">
	watchVideoAndScroll('<%= @video.id %>','<%= @video.slug %>', false);
</script>