<%= render :partial => "/layouts/content_header_simple", :locals => {:title => @video.title, 
			:crumbs => [{:name => 'Videos', :params => {:controller => 'videos', :action => 'index', :popular => @video.popular?}}, 
			{:name => @video.category.name, :params => {:controller => 'videos', :action => 'category', :category => @video.category, :popular => @video.popular?}}, 
			{:name => @video.title}]} %>

<div id="content-main">
	<%= render @video, :visible_title => false, :load_comments => true %>
</div>

<div id="content-sidebar">
	<%= render :partial => "statistics", :locals => {:video => @video} %>
	
	<%= render :partial => "/layouts/set", :locals => {:title => 'Related Videos', :collection => @related_videos, 
				:link => {:controller => 'search', :action => 'videos', :q => @q}, :force_link => true} %>
	
	<% if !@channel.nil? -%>
		<%= render :partial => "/layouts/set", :locals => {:title => @channel.name, :collection => @channel_videos, 
					:link => channel_path(@channel.user, @channel), :force_link => true} %>
	<% end -%>
	
	<% if !@category.nil? -%>
		<%= render :partial => "/layouts/set", :locals => {:title => @category.name, :collection => @category_videos, 
					:link => {:controller => 'videos', :action => 'category', :category => @category, :popular => false}, :force_link => true} %>
		
		<%= render :partial => "/layouts/set", :locals => {:title => 'Related Channels', :collection => @related_channels, 
						:link => {:controller => 'channels', :c => @category.id, :s => 'p', :t => 'a'}, :force_link => true} %>
	<% else -%>
		<%= render :partial => "/layouts/set", :locals => {:title => 'Related Channels', :collection => @related_channels} %>
	<% end -%>
	
	<h1 class="section-header">Videos by Tag</h1>
	<div>
		<% @video.tags(:generate_phrases => true).each do |tag| -%>
			<span class="tag"><%= image_tag('tag_green.png') %> <%= render :partial => 'tags/tag', :object => tag %></span>&nbsp;
		<% end -%>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	watchVideoAndScroll('<%= @video.id %>','<%= @video.slug %>', false);
</script>