<div id="content-main">
	<div id="postbox-container">
		<%= render :partial => "/submit/new" %>
	</div>
	
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => 'Activity Stream', 
			:links => [{:name => 'Friends', :options => '/', :selected => true}, 
			{:name => 'Channels', :options => {:controller => 'videos', :action => 'subscriptions'}, :selected => false}]} %>
	<div id="activity">
		<%= render @news_items %>
	</div>
	<%= render :partial => "/layouts/pagination", :locals => {:title => 'View More Activity', :collection => @news_items} %>
	<%= render :partial => "/news_items/setup" %>
</div>

<div id="content-sidebar">
	<% if user_logged_in? -%>
		<%= render :partial => "/users/sidebar", :locals => {:welcome => true, :about => false, :user => logged_in_user} %>
	<% end -%>
	
	<%= render :partial => "/layouts/set", :locals => {:title => 'Featured Channels', 
			:link => {:controller => 'channels'}, :force_link => true, :collection => @featured_channels} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Videos by Category', 
			:link => {:controller => 'videos', :popular => false}, :force_link => true, :collection => @categories} %>
</div>
