<%= render :partial => "/layouts/pitch" %>

<div id="content-main">
	<%= render :partial => "/submit/new" %>
	
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => 'Activity Stream', 
			:links => [{:name => 'Activity', :options => '/', :selected => true}, 
			{:name => 'Subscriptions', :options => {:controller => 'videos', :action => 'subscriptions'}, :selected => false}]} %>
	<%= render @news_items %>
	<%= render :partial => "/layouts/pagination", :locals => {:title => 'View More Activity', :collection => @news_items} %>
	
	<%= render :partial => "/news_items/setup" %>
</div>

<div id="content-sidebar">
	<% if user_logged_in? -%>
		<%= render :partial => "/users/sidebar", :locals => {:welcome => true, :user => logged_in_user} %>
	<% end -%>
	
	<%= render :partial => "/layouts/set", :locals => {:title => 'Active Members', 
			:link => {:controller => 'users'}, :force_link => true, :collection => @active_members} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Featured Channels', 
			:link => {:controller => 'channels'}, :force_link => true, :collection => @featured_channels} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Videos by Category', 
			:link => {:controller => 'videos', :popular => false}, :force_link => true, :collection => @categories} %>
</div>
