<div id="navigable-container">
	<%= render :partial => "/layouts/navigation", :locals => {:selected => 'Activity Stream'} %>
	<div id="content-main">
		<div id="postbox-container">
			<%= render :partial => "/submit/new" %>
		</div>
		<br class="clear"/>
		
		<h1 id="filter-bar">
			<span class="title-container">Activity Stream</span>
		</h1>
		<%= render :partial => "/registration/contact_importer_plug" %>
		<div id="activity">
			<%= render @news_items %>
		</div>
		<%= render :partial => "/layouts/pagination", :locals => {:title => 'View More Activity', :collection => @news_items} %>
		<%= render :partial => "/news_items/setup" %>
	</div>
</div>

<div id="content-sidebar">
	<% if user_logged_in? -%>
		<%= render :partial => "/users/sidebar", :locals => {:welcome => true, :about => false, :invite_or_recommend => true, :user => logged_in_user} %>
	<% end -%>
</div>
