<div id="navigable-container">
	<%= render :partial => "/layouts/navigation", :locals => {:selected => 'Activity Stream'} %>
	<div id="content-main">
		<div id="postbox-container">
			<%= render :partial => "/submit/new" %>
		</div>
		<br class="clear"/>
		
		<h1 id="filter-bar">
			<span class="title-container">Activity Stream</span>
		</h1>
		<%= render :partial => "/registration/contact_importer_plug" %>
		<div id="activity">
			<%= render @news_items %>	
			<div id="activity-loading-indicator" style="color:gray;font-size:9pt;margin-top:15px;text-align:center;">
				<%= image_tag('spinner.gif', :style => 'vertical-align:top;') %> Loading...
			</div>
		</div>
		<%= render :partial => "/layouts/pagination", :locals => {:title => 'View More Activity', :options => {:action => 'friends', :page => 2}, :force_next => true} %>
		<%= render :partial => "/news_items/setup" %>
	</div>
</div>

<div id="content-sidebar">
	<% if user_logged_in? -%>
		<%= render :partial => "/users/sidebar", :locals => {:welcome => true, :about => false, :invite_or_recommend => true, :user => logged_in_user} %>
	<% end -%>
</div>

<script type="text/javascript" charset="utf-8">
	new Ajax.Request('/friends', {method:'get', asynchronous:true, evalScripts:false});
</script>