<div>
	<%= render :partial => '/layouts/navigation', :locals => {:selected => 'News Feed'} %>
	<div id="fb-stream">
		<div id="postbox-container">
			<%= render :partial => "/submit/new" %>
		</div>
		<br class="clear"/>
		<div id="activity">
			<%= render @news_items %>
			<div id="activity-loading-indicator" style="color:gray;font-size:9pt;height:250px;margin:15px 0;text-align:center;">
				<%= image_tag('spinner.gif', :style => 'vertical-align:top;') %> Loading...
			</div>
		</div>
		<div id="pagination-container" style="display:none;">
			<%= render :partial => "/layouts/pagination", :locals => {:title => 'View More Activity', :options => {:action => 'friends', :page => 2}, :force_next => true} %>
		</div>
		<%= render :partial => "/news_items/setup.html" %>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	new Ajax.Request('/friends?_session_id=<%= params[:_session_id] %>', {method:'get', asynchronous:true, evalScripts:false});
</script>