<div class="content-section">
  <div style="margin-left: 25px;">
		<h1 id="filter-bar"><span class="title-container">Topics</span></h1>
    <div id="breadcrumbs">
      <%= link_to "Home", root_path %> &gt; Topics
    </div>  
  </div>
  <br />

  <div class="grid-container" style="height: 350px;margin-left: 20px;">
    <%= render @categories %>
  </div>
  
  <div class="divider">
    <h2>Featured Channels</h2>
  </div>

  <div class="grid-container" style="height: 400px;margin-left: 20px;">
    <%= render @popular_channels %>
  </div>

<div class="divider">
    <h2>Featured Channels</h2>
  </div>

   <div class="grid-container" style="height: 400px;margin-left: 20px;">
    <%= render @popular_channels %>
  </div>


</div>


<% if !params[:video_id].blank? and !params[:video_slug].blank? -%>
	<script type="text/javascript" charset="utf-8">
		watchVideo('<%= params[:video_id] %>', '<%= params[:video_slug] %>', '');
	</script>
<% end -%>
