<%= render :partial => "/layouts/content_header", :locals => {:title => 'All Videos', :description => @popular ? 'Popular Videos' : 'Newest Videos'} %>
<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
			:crumbs => [{:name => 'Categories', :params => {:controller => 'videos', :action => 'index', :popular => false}}, 
									{:name => 'All Videos', :params => {:controller => 'videos', :action => 'index', :popular => false}}, 
									{:name => @popular ? 'Popular Videos' : 'Newest Videos', :params => {:controller => 'videos', :action => 'index', :popular => @popular}}]} %>

<div id="content-main">
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => (@popular ? 'Popular Videos' : 'Newest Videos'), 
			:links => [{:name => 'Popular Videos', :options => {:controller => 'videos', :action => 'index', :popular => true, :tagged => @tagged}, :selected => @popular}, 
			{:name => 'Newest Videos', :options => {:controller => 'videos', :action => 'index', :popular => false, :tagged => @tagged}, :selected => !@popular}]} %>
	<%= render @videos %>
	<%= render :partial => "/layouts/pagination", :locals => {:title => @popular ? 'View More Popular Videos' : 'View More Newest Videos', :collection => @videos, :options => {:tagged => @tagged}} %>
</div>

<div id="content-sidebar">
	<%= render :partial => "/categories/explanation", :locals => {:link => {:controller => 'videos'}} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Related Channels', :collection => @related_channels} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Videos by Category', :collection => @categories} %>
</div>
