<div id="navigable-container">
	<% render :layout => '/layouts/navigation', :locals => {:selected => "#{@popular ? 'Popular' : 'Newest'} Videos"} do -%>
		<div class="items">
			<div class="item-wrapper">
				<ul>
					<li class="selected-item"><%= link_to 'All Categories', {:controller => 'videos', :action => 'index', :popular => @popular} %></li>
					<% @categories.each do |category| -%>
						<li><%= link_to category.name, {:controller => 'videos', :action => 'category', :category => category, :popular => @popular} %></li>
					<% end -%>
				</ul>
			</div>
		</div>
	<% end -%>
	<div id="content-main">
		<h1 id="filter-bar"><span class="title-container"><%= @popular ? 'Popular Videos' : 'Newest Videos' %></span></h1>
		
		<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
					:crumbs => [{:name => @popular ? 'Popular Videos' : 'Newest Videos', :params => {:controller => 'videos', :action => 'index', :popular => @popular}}]} %>
		
		<%= render @videos %>
		<%= render :partial => "/layouts/pagination", :locals => {:title => @popular ? 'View More Popular Videos' : 'View More Newest Videos', :collection => @videos, :options => {:tagged => @tagged, :max_id => @max_id}} %>
	</div>
</div>

<div id="content-sidebar">
	<%= render :partial => "/layouts/set", :locals => {:title => 'Popular Channels', :collection => @popular_channels} %>
</div>

<% if !params[:video_id].blank? and !params[:video_slug].blank? -%>
	<script type="text/javascript" charset="utf-8">
		watchVideo('<%= params[:video_id] %>', '<%= params[:video_slug] %>', '');
	</script>
<% end -%>