<div class="content-section">
  <div style="margin-left: 25px;">
		<h1 id="filter-bar"><span class="title-container">Topics</span></h1>
    <div id="breadcrumbs">
      <%= link_to "Home", root_path %> &gt; Topics
    </div>  
  </div>
  <br />
  <br />
  <br />
  <div class="divider">
    <h2>Featured Channels</h2>
  </div>
    <div style="margin-left: 20px;">
      <table>
        <% @popular_channels.each_with_index do |r, i| %>
          <% if i % 8 == 0 %>
            <% if i > 0 %>
              </tr>
            <% end %>
            <tr height="90px">
          <% end %>
          <td width="120">
            <div class="small-channel" style="width: 110px;text-align: center">
              <%= link_to image_tag(r.user.thumbnail.blank? ? 'profile-pic.jpg' : r.user.thumbnail, :size => "48x48", :style => "text-align: center"), 
                smart_channel_link(r.user, r, true)
              %><br />
              <%= link_to truncate(r.user.username,12),  smart_channel_link(r.user, r, true) %>
            </div>
          </td>
        <% end %>      
        </tr>
      </table>
    </div>

    <br />
    <br />
    <br /><div class="divider">
    <h2>Featured Channels</h2>
  </div>
   <div style="margin-left: 20px;">
      <table>
        <% @popular_channels.each_with_index do |r, i| %>
          <% if i % 8 == 0 %>
            <% if i > 0 %>
              </tr>
            <% end %>
            <tr height="90px">
          <% end %>
          <td width="120">
            <div class="small-channel" style="width: 110px;text-align: center;">
              <%= link_to image_tag(r.user.thumbnail.blank? ? 'profile-pic.jpg' : r.user.thumbnail, :size => "48x48", :style => "text-align: center"), 
                smart_channel_link(r.user, r, true)
 %><br />
              <%= link_to truncate(r.user.username,12), channel_path(:user => r.user, :channel => r) %>
            </div>
          </td>
        
        <% end %>      
        </tr>
      </table>
    </div>
</div>


<% if !params[:video_id].blank? and !params[:video_slug].blank? -%>
	<script type="text/javascript" charset="utf-8">
		watchVideo('<%= params[:video_id] %>', '<%= params[:video_slug] %>', '');
	</script>
<% end -%>
