<div id="content-main">
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => 'Activity Stream', 
			:links => [{:name => 'Friends', :options => '/', :selected => false}, 
			{:name => 'Channels', :options => {:controller => 'videos', :action => 'subscriptions'}, :selected => true}]} %>
	<%= render @videos %>
	<%= render :partial => "/layouts/pagination", :locals => {:title => 'View More Videos From Subscriptions', :collection => @videos} %>
</div>

<div id="content-sidebar">
	<% if user_logged_in? -%>
		<%= render :partial => "/users/sidebar", :locals => {:welcome => true, :about => false, :user => logged_in_user} %>
	<% end -%>
	
	<%= render :partial => "/layouts/set", :locals => {:title => 'Featured Channels', 
			:link => {:controller => 'channels'}, :force_link => true, :collection => @featured_channels} %>
	<%= render :partial => "/layouts/set", :locals => {:title => 'Videos by Category', 
			:link => {:controller => 'videos', :popular => false}, :force_link => true, :collection => @categories} %>
</div>
