<div>
	<div id="fb-filter-list">
		<%= link_to "<div>Friends' Activity</div>", {:controller => 'videos', :action => 'friends'} %>
		<%= link_to "<div class=\"selected\">Channel Videos</div>", {:controller => 'videos', :action => 'subscriptions'} %>
		<%= link_to "<div>Popular Videos</div>", {:controller => '/videos', :action => 'index', :popular => true} %>
		<%= link_to "<div>Newest Videos</div>", {:controller => '/videos', :action => 'index', :popular => false} %>
		<!-- <%= link_to "<div>Channels</div>", {:controller => 'channels'} %> -->
		<div id="filler">&nbsp;</div>
	</div>
	<div id="fb-stream">
		<%= render @videos %>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @videos} %>
	</div>
</div>