<div>
	<%= render :partial => '/layouts/navigation', :locals => {:selected => 'Subscriptions'} %>
	<div id="fb-stream">
		<% render(:layout => "/layouts/pagination", :locals => {:top => true, :collection => @videos}) do %>
			<div class="title">Subscription Videos</div>
		<% end -%>
		<div id="breadcrumb-trail">
			<%= link_to 'Home', {:controller => 'videos', :action => 'friends'} %> <span class="separator">&gt;<span>
			<%= link_to 'Subscription Videos', {:controller => 'videos', :action => 'subscriptions'} %> <span class="separator">&gt;<span>
			Page <%= @page %>
		</div>
		<%= render @videos %>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @videos} %>
	</div>
</div>