<div id="twitter-connect-overlay" class="buffered">
	<h1 class="section-header">Finalize Your Sign-in</h1>
	
	<div id="container">
		<p style="font-size: 9pt;margin-top:0px;padding:0px;text-align;center;">
			Please confirm your username and provide an email address for friend updates.
		</p>
		
		<% form_tag({:controller => 'twitter', :action => 'connect'}, :id => 'connect_form', :onsubmit => "var valid = checkValidity(['username','email'], 'user'); if(valid){disableForm('submit_for_connect');} return valid;") do %>
			<%= error_messages_for 'user' %>

			<table cellpadding="3" cellspacing="0">
				<tr>
					<td style="text-align:center;width:100px;" rowspan="3"><%= image_tag(@oauth[:twitter_image_url], :style => 'border:1px solid #E5E5E5;height:48px;width:48px;') %></td>
					<td style="text-align:right;width:115px;">Username:</td>
					<td colspan="2" style="width:210px;">
						<%= text_field 'user', 'username', :value => '', :class => 'field' %> *
						<%= hidden_field 'valid', 'username', :value => 'false' %>
					</td>
				</tr>
				<tr>
					<td><span id="username_is_valid"><%= image_tag('blank.gif', :style => 'vertical-align:top;') %></span> Your URL:</td>
					<td colspan="2" style="font-size:9pt;">
						<div style="overflow-x:hidden;white-space:nowrap;width:190px;">
							http://gawkk.com/<span id="username" style="color:gray;">username</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>Email Address:</td>
					<td colspan="2">
						<%= text_field 'user', 'email', :class => 'field' %> *
						<%= hidden_field 'valid', 'email', :value => 'false' %>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="agreement">
						I am over 13 years old and agree to the <%= link_to 'Terms', {:controller => 'pages', :action => 'terms_of_use'}, :target => 'terms' %> &amp; <%= link_to 'Privacy', {:controller => 'pages', :action => 'privacy'}, :target => 'privacy' %>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="agreement">
						<label for="user_send_digest_emails">
							<%= check_box 'user', 'send_digest_emails' %> Send me email updates about my friends
						</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><span style="color:gray;font-size:8pt;">* Required</span></td>
					<td style="padding-right:15px;text-align:right;">
						<% render(:layout => "/layouts/auto_disabling_submit", :locals => {:id => 'submit_for_connect', :action => 'Submitting'}) do -%>
							<%= submit_tag 'Submit' %>
						<% end -%>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
	
	<%= observe_form('connect_form', :frequency => 0.5, :url => {:controller => 'registration', :action => 'check_validity'}) %>
</div>

<script type="text/javascript" charset="utf-8">
	<% if !@user.username.blank? -%>
		$('user_username').focus();
		$('user_username').value = '<%= @user.username %>';
	<% end -%>
</script>