<div class="buffered">
	<h1 class="section-header">Configure Twitter Access</h1>
	
	<table cellpadding="3" cellspacing="0" style="margin:0 auto;width:525px;">
		<% if !@twitter_account.id.nil? and !@twitter_account.authenticated? -%>
			<tr>
				<td colspan="2">
					<p style="background-color:#FFDDCC;font-size:9pt;font-weight:bold;padding:5px 0px;text-align:center;">
						Your Twitter credentials are incorrect.
					</p>
				</td>
			</tr>
		<% end -%>
		<tr>
			<td rowspan="3">
				<% remote_form_for(@twitter_account, :url => {:controller => 'twitter', :action => 'update_credentials'}) do |f| %>
					<p><label for="twitter_account_username">Twitter Username <span style="font-size:8pt;">(not email address)</span>:</label><br/>
					<%= f.text_field 'username' %></p>

					<p><label for="twitter_account_password">Twitter Password:</label><br/>
					<%= f.password_field 'password' %></p>

					<p class="submit">
						<%= submit_tag 'Save Credentials' %> or <%= link_to 'Cancel', '#cancel', :onclick => "hideOverlay();" %>
					</p>
				<% end -%>
			</td>
			<td style="width:260px;text-align:center;">
				<%= link_to image_tag('service_twitter.png'), 'http://twitter.com', :target => 'twitter' %>
			</td>
		</tr>
		<tr>
			<td style="font-size:11pt;font-style:italic;line-height:16pt;">
				&quot;Twitter is a service for friends, family, and co–workers 
				to communicate and stay connected through the exchange of 
				quick, frequent answers to one simple question: 
				<strong>What are you doing?</strong>&quot;<br/>
			</td>
		</tr>
		<tr>
			<td style="font-size:9pt;margin-left:10px;text-align:right;">- <%= link_to 'twitter.com', 'http://twitter.com', :target => 'twitter' %></td>
		</tr>
		<tr>
			<td colspan="2">
				<p style="background-color:#FFFFDD;font-size:9pt;margin-top:15px;padding:3px;text-align:center;">
					Don't worry, we won't tweet anything without your permission.
				</p>
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript" charset="utf-8">
	$('twitter_account_username').focus();
</script>