<% form_for(:user, @user, :url => facebook_connect_path, :html => {:onsubmit => "disableForm('submit_for_username');"}) do |f| %>
	<div style="background-color:#e4c8c8;margin:10px auto 0 auto;padding:5px 10px;width:415px;">
		<% if !@user.errors.blank? -%>
			<div class="errorExplanation" id="errorExplanation">
				<p style="font-size:10pt;margin-top:5px;">
					There <%= @user.errors.size > 1 ? 'Were Problems' : 'Was a Problem' %>
				</p>
				<ul style="margin-bottom:0;">
					<% @user.errors.full_messages.each do |message| -%>
						<li><%= (message == 'Username must be unique' ? "Username isn't available" : message) %></li>
					<% end -%>
				</ul>
			</div>
			<% @user.errors.clear -%>
		<% end -%>
		<br class="clear"/>
	</div>
	
	<table cellpadding="3" cellspacing="0" class="editorkit" style="background-color:#f7f7f7;margin:10px auto 0 auto;">
		<tr>
			<td colspan="3" style="background-color:#dedede;font-weight:bold;padding:5px;">
				Choose a Username
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="text-align:center;width:95px;">
				<%= image_tag(@facebook[:image_small], :style => 'border:1px solid #E5E5E5;height:50px;width:50px;') %>
			</td>
			<th style="text-align:right;width:85px;">
				<label>Username:</label>
			</th>
			<td class="editorkit_row" style="width:240px;">
				<%= text_field 'user', 'username', :value => @user.username, :style => 'width:210px;' %>
				<%= hidden_field 'valid', 'username', :value => 'false' %>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding-right:25px;text-align:right;">
				I am over 13 years old and agree to the <%= link_to 'Terms', {:controller => 'pages', :action => 'terms_of_use'}, :target => 'terms' %> &amp; <%= link_to 'Privacy', {:controller => 'pages', :action => 'privacy'}, :target => 'privacy' %>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="editorkit_buttonset" style="padding:10px 20px 10px 10px;text-align:right;">
				<% render(:layout => "/layouts/auto_disabling_submit.html", :locals => {:id => 'submit_for_username', :action => 'Processing', :img_src => 'spinner-f7f7f7.gif', :img_style => 'vertical-align:middle;'}) do -%>
					<%= submit_tag 'Submit' %>
				<% end -%>
			</td>
		</tr>
	</table>
<% end -%>