<%= render :partial => "/layouts/content_header", :locals => {:avatar_path => @user.thumbnail, :title => @user.username, :description => "Settings", :user => @user} %>
<%= render :partial => "/layouts/breadcrumbs", :locals => {
			:crumbs => [{:name => 'Members', :params => {:controller => 'users'}}, 
									{:name => @user.username, :params => user_path(:id => @user)}, 
									{:name => 'Settings', :params => {:controller => 'settings'}}, 
									{:name => 'Password'}]} %>

<div id="content-main">
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => 'Change Your Password', :links => []} %>
	
	<%= error_messages_for 'user' %>
	<% form_for(@user, :url => {:controller => 'settings', :action => 'password', :id => params[:id]}) do |f| %>
		<table id="settings-profile" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<p style="margin-top:0px;"><label for="user_password">Current Gawkk Password:</label><br/>
					<%= password_field 'old', 'password', :onfocus => "revealTip('old_password');", :onblur => "hideTips();" %></p>

					<p><label for="user_password">New Password:</label><br/>
					<%= f.password_field 'password', :onfocus => "revealTip('user_password');", :onblur => "hideTips();"  %></p>
					
					<p><label for="password_confirm">Confirm New Password:</label><br/>
					<%= f.password_field 'password_confirmation', :onfocus => "revealTip('user_password_confirmation');", :onblur => "hideTips();"  %></p>
				</td>
				<td class="center">
					<div id="old_password_tip" class="tip">
						<p>Enter your current Gawkk password so we know it's really you.</p>
					</div>
					
					<div id="user_password_tip" class="tip">
						<p>Enter a new Gawkk password.</p>
					</div>
					
					<div id="user_password_confirmation_tip" class="tip">
						<p>Confirm your new Gawkk password.</p>
					</div>
					
					<%= image_tag 'tip_arrow.gif', :id => 'tip_arrow', :class => 'tip-arrow' %>
				</td>
			</tr>
		</table>
		
		<p class="submit">
			<%= submit_tag("Update") %>
		</p>
	<% end -%>
</div>

<div id="content-sidebar">
	<%= render :partial => "sidebar" %>
</div>

<script type="text/javascript" charset="utf-8">
	$('old_password').focus();
</script>