<p>
	<%= link_to news_item.user.username, "http://www.gawkk.com/#{news_item.user.slug}" %> is now following 
	<%= link_to news_item.reportable.proper_name, "http://www.gawkk.com/#{news_item.reportable.user.slug}/channel" %>
</p>

<p>
	<a href="<%= "http://www.gawkk.com/#{news_item.reportable.user.slug}/channel" %>">
		<img src="http://gawkk.local/images/<%= news_item.reportable.user.thumbnail.blank? ? 'profile-pic.jpg' : news_item.reportable.user.thumbnail %>"/>
	</a>
</p>

<% if !news_item.reportable.user.description.blank? -%>
	<p><%= simple_format(auto_link(news_item.reportable.user.description)) %></p>
<% end -%>