<div id="registration-overlay" class="buffered">
  <!--
	<div style="background-color:#FFFFFF;border:1px solid #CCCCCC;margin:10px 0 2px 0;padding:5px 10px;">
		<p style="font-size:9pt;margin:5px 0 0 0;padding:2px 0;text-align:center;">
			Sign in with Twitter and instantly access Gawkk!
		</p>
		<p style="margin-top:5px;text-align:center;">
			<%= image_tag('service_twitter.png') %>
		</p>
		<% form_tag({:controller => 'twitter', :action => 'oauth_request'}) do %>
			<p style="text-align:center;">
				<input type="image" src="/images/sign_in_with_twitter.png"/>
			</p>
		<% end -%>
		<p style="font-size:9pt;text-align:center;">
			Don't have a Twitter account? <%= link_to 'Sign up now', "http://twitter.com/signup", :target => 'twitter' %>.
		</p>
	</div>
  -->	
	<div style="background-color:#FFFFFF;border:1px solid #CCCCCC;padding:5px 10px;">
		<p style="font-size:9pt;font-weight:bold;margin:5px 0;padding:2px 0;text-align:center;">
			Have an existing Gawkk Account?
		</p>
		<% form_tag({:controller => 'authentication', :action => 'login'}, :onsubmit => "disableForm('submit_for_login');") do %>
			<%= error_messages_for 'user' %>
			<%= hidden_field 'current', 'path', :id => 'current_path' %>

			<table cellpadding="3" cellspacing="0" style="width:100%;">
				<tr>
					<td style="font-size:9pt;">Email or Username:</td>
					<td style="text-align:right;"><%= text_field 'user', 'email', :class => 'field' %></td>
				</tr>
				<tr>
					<td style="font-size:9pt;">Password:</td>
					<td style="text-align:right;"><%= password_field 'user', 'password', :class => 'field' %></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:right;">
						<%= check_box_tag :remember, 1, true, {:style => 'display:none;'} %>
						<% render(:layout => "/layouts/auto_disabling_submit", :locals => {:id => 'submit_for_login', :action => 'Logging in'}) do -%>
							<%= submit_tag 'Login' %>
						<% end -%>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$('user_email').focus();
	$('current_path').value = window.location.pathname + window.location.search;
</script>
