<%= render :partial => "/layouts/content_header_simple", :locals => {:title => "Admin", :crumbs => [{:name => 'Admin', :params => {:controller => 'admin/overview'}}, {:name => 'Submissions', :params => {:controller => 'admin/user_submissions'}}, { :name => "Open Submissions" }]} %>

<div id="content-main"  style="width: 100%">
  <table>
    <tr>
      <th width="200px">Title</th>
      <th width="600px">Description</th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
    <% @submissions.each do |s| %>
      <tr>
        <td><%= link_to truncate(s.title, 75), s.url %></td>
        <td><%= truncate(s.description, 100) %></td>
        <td><%= link_to "Edit", { :action => :edit, :id => s.id } %></td>
        <td><%= link_to "Approve", { :action => :approve, :id => s.id } %></td>
        <td><%= link_to "Decline", { :action => :decline, :id => s.id } %></td>
      </tr>
    <% end %>
  </table>
</div>
