<div id="navigable-container">
	<%= render :partial => '/layouts/navigation' %>
	<div id="content-main">
		<h1 id="filter-bar"><span class="title-container"><%= "#{@q} Videos" %></span></h1>
		
		<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
					:crumbs => [{:name => 'Videos by Tag', :params => {:controller => 'videos', :action => 'index', :popular => false, :tagged => true}}, 
											{:name => @q}]} %>
		
		<%= render @videos %>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @videos, :options => {:q => @q}} %>
	</div>
</div>

<div id="content-sidebar">
	<%= render :partial => "/tags/explanation" %>
</div>