<div id="pitch" style="background: url(/images/welcome-header-bg.jpg) #bcdff3;border-color: #acacac">
		<div id="sign-up">
		<!--	<p id="one-click">Sign up with one click:</p>
			<% form_tag({:controller => 'twitter', :action => 'oauth_request'}) do %>
				<p><input type="image" src="/images/sign_in_with_twitter.png"/></p>
      <% end -%>
      -->
      <p><%= link_to_remote('Log into', {:url => {:controller => 'authentication', :action => 'login'}, :method => :get}) %> your existing account <br />or, <%= link_to 'register', '/register' %> a new one.</p>
    </div>
		<div id="copy">
			<p style="font-size:16pt;font-weight:bold;">
					<%= @pitch_title %>
			</p>
      <p>Gawkk is the best place to follow your favorite movies, share, and discuss about videos from around the web. By following a channel, you can stay up to date with the latest trailer, free <%= @channel.proper_name %>, and watch <%= @channel.proper_name %> free online.

      </p>
		</div>
	</div>
