<%= render :partial => "/layouts/content_header_simple", :locals => {:title => "Admin", :crumbs => [{:name => 'Admin', :params => {:controller => 'admin/overview'}}, {:name => 'Submission'}]} %>

<div id="content-main">
  <% form_tag '/admin/submissions' do %>
    <p>
    <%= label_tag :category_id, "Category:" %><br />
    <%= select_tag "category_id", options_for_select(@categories.collect {|c| [c.name, c.id]})%>
    </p>
  <div id="channels">
    <%= label_tag :channel_id, "Channel:" %><br />
     <%= select_tag "channel_id", options_for_select(@channels.collect {|c| [c.name, c.id]}) %>
   </div>
   <p>
   <%= label_tag :title, "Title" %><br />
     <%= text_field_tag "title" %>
   </p>
   <p>
   <%= label_tag :description, "Description" %><br />
     <%= text_area_tag "description" %>
     </p>
     <ul id="link-list" style="list-style-type: none;padding: 0;">
       <li><%= label_tag "link[]", "Links" %></li>
       <li>  <%= text_field_tag "link[]" %></li>
       <li><%= text_field_tag "link[]" %></li>
       <li><%= text_field_tag "link[]" %></li>
     </ul>
    
     <a href="#" onclick="add_field();return false;">Add another link</a></br></br>

  <%= submit_tag %>

  <% end %>
</div>

<script type="text/javascript">
  function add_field() {
    $('link-list').insert('<li><input id="link_" name="link[]" type="text">')
  }
</script><%= observe_field :category_id, :url => { :controller => 'admin/submissions', :action => :get_channels },
      :frequency => 0.25,
      :update => :channels,
      :with => 'category_id'
  %>
