<div id="footer">
	<div class="container">
		<div class="heading">Site Links</div>
		<div><%= link_to 'Videos by Category', '/all/newest' %></div>
		<div><%= link_to 'Popular Videos', '/all/popular' %></div>
		<div><%= link_to 'Newest Videos', '/all/newest' %></div>
		<div><%= link_to 'Sitemap', '/sitemaps/index.html' %></div>
	</div>
	<div class="container">
		<div class="heading">More Gawkk</div>
		<div><%= link_to 'Featured Channels', '/channels' %></div>
		<div><%= link_to 'Popular Channels', '/channels?t=p' %></div>
		<div>
			<% if user_logged_in? -%>
				<%= link_to_remote 'Tweet Your Activity', :url => {:controller => 'twitter', :action => 'request_credentials', :tweet_it => '1', :force => true}  %>
			<% else -%>
				<%= link_to 'Tweet Your Activity', '/twitter/please_register' %>
			<% end -%>
		</div>
		<div><%= link_to '@Gawkk on Twitter', 'http://twitter.com/gawkk', :target => 'twitter' %></div>
	</div>
	<div class="container">
		<div class="heading">About Gawkk</div>
		<div><%= link_to 'About Us', '/about' %></div>
		<div><%= link_to 'Contact Us', '/contact' %></div>
		<div><%= link_to 'The Gawkk Blog', 'http://blog.gawkk.com', :target => 'blog' %></div>
	</div>
	<div class="container">
		<div class="heading">Help</div>
		<div><%= link_to 'Frequent Questions', '/faq' %></div>
		<div><%= link_to 'Take Web Tour', '/tour' %></div>
		<div><%= link_to 'Take Video Tour', '/tour-video' %></div>
	</div>
	<div class="container" style="border-right:0px;">
		<div class="heading">Legal</div>
		<div><%= link_to 'Terms of Use', '/terms-of-use' %></div>
		<div><%= link_to 'Privacy Policy', '/privacy' %></div>
	</div>
	<br class="clear"/>
</div>

<div id="copyright">
	&copy; Copyright 2007 - 2009, Gawkk.com
</div>