<div id="footer">
	<div class="container">
		<div class="heading">Site Links</div>
		<div><%= link_to 'Home', '/' %></div>
		<div><%= link_to 'Videos by Category', '/all/newest' %></div>
		<div><%= link_to 'Popular Videos', '/all/popular' %></div>
		<div><%= link_to 'Newest Videos', '/all/newest' %></div>
	</div>
	<div class="container">
		<div class="heading">More Gawkk</div>
		<div><%= link_to 'Featured Channels', '/channels' %></div>
		<div><%= link_to 'Popular Channels', '/channels?t=p' %></div>
		<div>
			<% if user_logged_in? -%>
				<%= link_to_remote 'Tweet Your Activity', :url => {:controller => 'twitter', :action => 'request_credentials', :tweet_it => '1', :force => true}  %>
			<% else -%>
				<%= link_to 'Tweet Your Activity', '/twitter/please_register' %>
			<% end -%>
		</div>
		<div><%= link_to '@Gawkk on Twitter', 'http://twitter.com/gawkk', :target => 'twitter' %></div>
	</div>
	<div class="container">
		<div class="heading">About Gawkk</div>
		<div><%= link_to 'About Us', '/about' %></div>
		<div><%= link_to 'Contact Us', '/contact' %></div>
		<div><%= link_to 'The Gawkk Blog', 'http://blog.gawkk.com', :target => 'blog' %></div>
	</div>
	<div class="container">
		<div class="heading">Help</div>
		<div><%= link_to 'Frequent Questions', '/faq' %></div>
		<div><%= link_to 'Take Web Tour', '/tour' %></div>
		<div><%= link_to 'Take Video Tour', '/tour-video' %></div>
	</div>
	<div class="container" style="border-right:0px;">
		<div class="heading">Legal</div>
		<div><%= link_to 'Terms of Use', '/terms-of-use' %></div>
		<div><%= link_to 'Privacy Policy', '/privacy' %></div>
	</div>
	<br class="clear"/>
</div>

<div id="tagged-categories">
	Videos by Tag:
	<a href="/arts-animation/newest?tagged=true">Arts &amp; Animation Videos</a>, 
	<a href="/autos-vehicles/newest?tagged=true">Auto &amp; Vehicle Videos</a>, 
	<a href="/business-finance-investing/newest?tagged=true">Business, Finance &amp; Investing Videos</a>, 
	<a href="/celebrities-entertainment/newest?tagged=true">Celebrities &amp; Entertainment Videos</a>, 
	<a href="/cities-local-news/newest?tagged=true">Cities &amp; Local News Videos</a>, 
	<a href="/comedy/newest?tagged=true">Comedy Videos</a>, 
	<a href="/commercials/newest?tagged=true">Commercials</a>, 
	<a href="/extreme-sports-adrenaline/newest?tagged=true">Extreme Sports &amp; Adrenaline Videos</a>, 
	<a href="/family-children/newest?tagged=true">Family &amp; Children Videos</a>, 
	<a href="/food-drink/newest?tagged=true">Food &amp; Drink Videos</a>, 
	<a href="/health-and-fitness/newest?tagged=true">Health and Fitness Videos</a>, 
	<a href="/internet-shows/newest?tagged=true">Internet Show Videos</a>, 
	<a href="/learning-and-education/newest?tagged=true">Learning and Education Videos</a>, 
	<a href="/movies-previews-trailers/newest?tagged=true">Movies, Previews &amp; Trailers</a>, 
	<a href="/music-dancing/newest?tagged=true">Music &amp; Dancing Videos</a>, 
	<a href="/news-politics/newest?tagged=true">News &amp; Political Videos</a>, 
	<a href="/odd-outrageous/newest?tagged=true">Odd &amp; Outrageous Videos</a>, 
	<a href="/people-vlogs/newest?tagged=true">People &amp; Vlogs</a>, 
	<a href="/pets-animals/newest?tagged=true">Pets &amp; Animal Videos</a>, 
	<a href="/sports-athletics/newest?tagged=true">Sports &amp; Athletic Videos</a>, 
	<a href="/style-fashion/newest?tagged=true">Style &amp; Fashion Videos</a>, 
	<a href="/technology-internet-science/newest?tagged=true">Technology, Internet &amp; Science Videos</a>, 
	<a href="/television-shows/newest?tagged=true">Television Shows</a>, 
	<a href="/travel-places/newest?tagged=true">Travel Videos</a>, 
	<a href="/uncategorized/newest?tagged=true">Variety Videos</a>, 
	<a href="/video-games/newest?tagged=true">Video Games</a>
</div>

<div id="copyright">
	&copy; Copyright 2007 - 2009, Gawkk.com
</div>