<div id="top">
	<div id="main">
		<div id="logo">
			<%= link_to image_tag('logo-tagline.png'), '/' %>
		</div>
		
		<div id="account">
			<% if user_logged_in? -%>
				<span>
					<%= logged_in_user.username %>:
					<%= link_to('Profile', user_path(logged_in_user)) %> |
					<%= link_to('Subscriptions', {:controller => 'videos', :action => 'subscriptions'}) %> |
					<%= link_to('Settings', '#') %> |
					<%= link_to('Logout', {:controller => 'authentication', :action => 'logout'}) %>
				</span>
			<% else -%>
				<span>
					<%= link_to('Register', {:controller => 'registration', :action => 'register'}) %> |
					<%= link_to('Login', {:controller => 'authentication', :action => 'login'}) %>
				</span>
			<% end -%>
		</div>

		<div id="sub">
			<div id="search">
				<% form_tag({:controller => 'search'}, :name => 'search', :method => 'get') do -%>
					<input id="search_textfield" type="text" name="q" value="Search..." onfocus="descriptiveField(this, 'Search...', true);" onblur="descriptiveField(this, 'Search...', false);">
					<input id="search_button" type="image" src="/images/search.png" title="Click to search" alt="Click to search" style="_vertical-align:bottom;"/>
				<% end -%>
			</div>
		</div>
	</div>
</div>