<div id="bottom">
	<div id="section-container">
		<ul class="menu-container" style="float:right;">
			<li><%= link_to 'Post a Video', '/', :class => 'action' %></li>
		</ul>
		<ul class="menu-container">
			<li><%= link_to 'Home', '/' %></li>
			<li><%= link_to 'Channels' + image_tag('menu-arrow.png', :class => 'pull'), {:controller => '/channels'} %>
				<ul>
					<li><%= link_to 'Featured', {:controller => '/channels'} %></li>
					<% if user_logged_in? -%>
						<li><%= link_to 'My Subscriptions', {:controller => '/users', :action => 'subscriptions', :id => logged_in_user} %></li>
					<% else -%>
						<li><%= link_to_remote 'My Subscriptions', {:url => {:controller => 'authentication', :action => 'login', :redirect_to => '/members/subscriptions'}, :method => :get} %></li>
					<% end -%>
				</ul>
			</li>
			<li><%= link_to 'Videos' + image_tag('menu-arrow.png', :class => 'pull'), {:controller => '/videos', :action => 'index', :popular => false} %>
				<ul>
					<li><%= link_to 'Newest', {:controller => '/videos', :action => 'index', :popular => false} %></li>
					<li><%= link_to 'Popular', {:controller => '/videos', :action => 'index', :popular => true} %></li>
					<li><%= link_to 'Subscriptions', {:controller => '/videos', :action => 'subscriptions'} %></li>
				</ul>
			</li>
			<% if user_logged_in? -%>
				<li><%= link_to 'Profile' + image_tag('menu-arrow.png', :class => 'pull'), user_path(logged_in_user) %>
					<ul>
						<li><%= link_to 'My Profile', user_path(logged_in_user) %></li>
						<li><%= link_to 'My Followings', {:controller => '/users', :action => 'follows', :id => logged_in_user} %></li>
						<li><%= link_to 'My Followers', {:controller => '/users', :action => 'followers', :id => logged_in_user} %></li>
						<li><%= link_to 'My Friends', {:controller => '/users', :action => 'friends', :id => logged_in_user} %></li>
						<li><%= link_to 'My Subscriptions', {:controller => '/users', :action => 'subscriptions', :id => logged_in_user} %></li>
						<li><%= link_to 'Add Friends', {:controller => '/members', :action => 'find'} %></li>
					</ul>
				</li>
			<% else -%>
				<li><%= link_to_remote 'Profile' + image_tag('menu-arrow.png', :class => 'pull'), {:url => {:controller => 'authentication', :action => 'login', :redirect_to => '/members/activity'}, :method => :get} %>
					<ul>
						<li><%= link_to_remote 'My Profile', {:url => {:controller => 'authentication', :action => 'login', :redirect_to => '/members/activity'}, :method => :get} %></li>
						<li><%= link_to_remote 'My Followings', {:url => {:controller => 'authentication', :action => 'login', :redirect_to => '/members/follows'}, :method => :get} %></li>
						<li><%= link_to_remote 'My Followers', {:url => {:controller => 'authentication', :action => 'login', :redirect_to => '/members/followers'}, :method => :get} %></li>
						<li><%= link_to_remote 'My Friends', {:url => {:controller => 'authentication', :action => 'login', :redirect_to => '/members/friends'}, :method => :get} %></li>
						<li><%= link_to_remote 'My Subscriptions', {:url => {:controller => 'authentication', :action => 'login', :redirect_to => '/members/subscriptions'}, :method => :get} %></li>
						<li><%= link_to_remote 'Add Friends', {:url => {:controller => 'authentication', :action => 'login', :redirect_to => '/members/find'}, :method => :get} %></li>
					</ul>
				</li>
			<% end -%>
			<% if user_can_administer? -%>
				<li><%= link_to 'Admin' + image_tag('menu-arrow.png', :class => 'pull'), {:controller => 'admin/overview'} %>
					<ul style="width:165px;">
						<li><%= link_to 'Channel Manager', {:controller => 'admin/channels'} %></li>
						<li><%= link_to 'Comment Manager', {:controller => 'admin/comments'} %></li>
						<li><%= link_to 'Statistic Viewer', {:controller => 'admin/statistics'} %></li>
						<li><%= link_to 'User Manager', {:controller => 'admin/users'} %></li>
						<li><%= link_to 'Fix Recent Thumbnails', {:controller => 'admin/import', :action => 'fix_thumbnails'}, :confirm => 'Are you sure?' %></li>
						<% if Parameter.status?('feed_importer_status') -%>
							<li><%= link_to 'Shutdown Feed Importers', {:controller => 'admin/import', :action => 'shutdown'}, :confirm => 'Are you sure?' %></li>
						<% end -%>
					</ul>
				</li>
			<% end -%>
		</ul>
	</div>
</div>