<div id="top">
	<div id="main">
		<div id="logo">
			<%= link_to image_tag('logo-tagline.png'), root_link(true) %>
		</div>
		
		<div id="account">
			<% if user_logged_in? -%>
				<span>
					<%= logged_in_user.username %>:
          <%= link_to('My Subscriptions', {:controller => 'users', :action => "my_subscriptions"}) %> |
					<% if user_can_administer? -%>
						<%= link_to('Admin', {:controller => '/admin/overview'}) %> |
					<% end -%>
					<%= link_to('Logout', {:controller => '/authentication', :action => 'logout'}) %>
				</span>
			<% else -%>
				<span>
					<%= link_to('Register', :controller => 'registration', :action => 'register') %> |
					<%= link_to_remote('Login', {:url => {:controller => 'authentication', :action => 'login'}, :method => :get}) %>
				</span>
			<% end -%>
		</div>
	</div>
</div>
