<% selected ||= '' -%>

<div id="fb-filter-list">
	<%= link_to "<div#{" class=\"selected\"" if selected == 'News Feed'}>News Feed</div>", {:controller => 'videos', :action => 'friends'} %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Videos'}>Videos</div>", {:controller => '/videos', :action => 'index', :popular => true} %>
	<%= yield if selected == 'Videos' %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Channels'}>Channels</div>", {:controller => 'channels'} %>
	<%= yield if selected == 'Channels' %>
	
	<div id="filler">&nbsp;</div>
</div>