<% selected ||= '' -%>

<div id="fb-filter-list">
	<%= link_to "<div#{" class=\"selected\"" if selected == 'News Feed'}>News Feed</div>", {:controller => 'videos', :action => 'home'} %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Newest Videos'}>Newest Videos</div>", {:controller => '/videos', :action => 'index', :popular => false} %>
	<%= yield if selected == 'Newest Videos' %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Popular Videos'}>Popular Videos</div>", {:controller => '/videos', :action => 'index', :popular => true} %>
	<%= yield if selected == 'Popular Videos' %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Channels'}>Channels</div>", {:controller => 'channels'} %>
	<%= yield if selected == 'Channels' %>
	
	<div id="filler">&nbsp;</div>
</div>