<% selected ||= '' -%>

<div id="fb-filter-list">
	<%= link_to "<div#{" class=\"selected\"" if selected == 'News Feed'}>News Feed</div>", {:controller => 'videos', :action => 'friends'} %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Subscriptions'}>Subscriptions</div>", {:controller => 'videos', :action => 'subscriptions'} %>
	<%= yield if selected == 'Subscriptions' %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'All Videos'}>All Videos</div>", {:controller => '/videos', :action => 'index', :popular => true} %>
	<%= yield if selected == 'All Videos' %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'All Channels'}>All Channels</div>", {:controller => 'channels'} %>
	<%= yield if selected == 'All Channels' %>
	
	<div id="filler">&nbsp;</div>
</div>