<% selected ||= '' -%>

<div id="navigation">
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Home'}>Home</div>", {:controller => 'videos', :action => 'home'}, :class => 'navigation-item' %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Activity Stream'}>Activity Stream</div>", {:controller => 'videos', :action => 'friends'}, :class => 'navigation-item' %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Newest Videos'}>Newest Videos</div>", {:controller => 'videos', :action => 'index', :popular => false}, :class => 'navigation-item' %>
	<%= yield if selected == 'Newest Videos' %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Popular Videos'}>Popular Videos</div>", {:controller => 'videos', :action => 'index', :popular => true}, :class => 'navigation-item' %>
	<%= yield if selected == 'Popular Videos' %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Channels'}>Channels</div>", {:controller => 'channels'}, :class => 'navigation-item' %>
	<%= yield if selected == 'Channels' %>
	
	<%= link_to "<div#{" class=\"selected\"" if selected == 'Subscriptions'}><span>#{@subscribed_channels.size}</span>Subscriptions</div>", "javascript:openSubscriptions();", :class => 'navigation-item' %>
	<div id="subscription-bookmarks" class="items" <% if  !user_logged_in? or ((selected != 'Home') and (selected != 'Activity Stream')) -%>style="display:none;"<% end -%>>
		<div class="item-wrapper">
			<ul>
				<% @subscribed_channels.each do |channel| -%>
					<li><%= link_to channel.name, channel_path(:user => channel.user, :channel => channel) %></li>
				<% end -%>
			</ul>
		</div>
	</div>
</div>