<% partial			||= nil -%>
<% style_id			||= '' -%>
<% title 				||= '&nbsp;' -%>
<% light				||= false -%>
<% description	||= '' -%>
<% link 				||= '#' -%>
<% count				||= 0 -%>
<% set_size			||= 4 -%>
<% force_link 	||= false -%>
<% collection		||= Array.new -%>

<% if collection.size > 0 -%>
	<%= render :partial => "/layouts/set_header", :locals => {:title => title, :light => light, :description => description, :count => count, :set_size => set_size, :link => link, :force_link => force_link} %>
	<div <% if !style_id.blank? -%>id="<%= style_id %>"<% end -%> class="set">
		<% collection.each do |object| -%>
			<% if object.class == Video -%>
				<%= render :partial => "/videos/video_small", :locals => {:video => object} %>
			<% elsif partial.nil? -%>
				<%= render object %>
			<% else -%>
				<%= render :partial => partial, :locals => {object.class.name.downcase.to_sym => object} %>
			<% end -%>
		<% end -%>
		<br class="clear"/>
	</div>
<% end -%>