<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta name="verify-v1" content="gJ6BCFevHkD1M2nQB8tjnpG74TtwLtQOdAWjoAwqOec=" />
		<meta name="y_key" content="b78fce59f8ae1e66"/>
		<link rel="shortcut icon" href="/favicon.ico" />
		
	<% if !@meta_description.nil? -%>
		<meta name="description" content="<%= @meta_description %>"/>
	<% end -%>
	
	<% if !@meta_keywords.nil? -%>
		<meta name="keywords" content="<%= @meta_keywords %>"/>
	<% end -%>
	
	<% if !@feed_url.nil? -%>
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="<%= @feed_url %>" />
	<% end -%>
	
	<% if !@thumbnail_url.nil? -%>
		<link rel="image_src" href="<%= @thumbnail_url %>" />
		<link rel="media:image" href="<%= @thumbnail_url %>" />
	<% end -%>
		
		<title><%= @title.nil? ? 'Share Videos with Friends' : @title %> on Gawkk</title>
		
		<%= stylesheet_link_tag 'scaffold', 'common', 'tour', 'overlay', 'category', 'activity', 'video', 'share', 'user', 'channel', 'login', 'registration', 'twitter', 'facebook', 'settings', 'submit', 'admin.channel', 'admin.comment', 'admin.user' %>
		<%= render :partial => "/layouts/ie7_css_overrides" %>
		<%= render :partial => "/layouts/ie8_css_overrides" %>
		
		<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
		<%= javascript_include_tag :all %>
		
		<% if Rails.env.production? and !user_logged_in? or (user_logged_in? and !user_can_administer?) -%>
			<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
			<script type="text/javascript">
				var pageTracker = _gat._getTracker("UA-2389740-1");
				pageTracker._trackPageview();
			</script>
		<% end -%>
	</head>
	<body>
		<%= render :partial => "/layouts/header" %>
		
		<div id="outer">
			<%= render(:partial => "/layouts/pitch") if @pitch %>
			
			<% if !flash[:notice].blank? -%>
				<p id="flash"><%= flash[:notice] %></p>
				<% flash[:notice] = nil -%>
			<% end -%>
			
			<div id="content">
				<%= yield  %>
				<br class="clear"/>
			</div>
			
			<%= render :partial => "/layouts/footer" %>
		</div>
		
		<%= render :partial => "/layouts/overlay" %>
		<%= render :partial => "/layouts/referrers" %>
	</body>
</html>
