<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gawkk</title>
<%= stylesheet_link_tag "all" %>
<%= stylesheet_link_tag "style" %>
<!--[if lt IE 7]>
		<%= stylesheet_link_tag "ie" %>
<![endif]-->
<!--[if lt IE 7]><%= javascript_include_tag "DD_belatedPNG_0.0.7a-min.js" %><![endif]-->
</head>
<body>
<div id="Wrapper"> <!--wrapper-->
    	<div id="header"><!--header-->
        		<div class="hed_box"><!--hed_box-->
                	<a class="logo" href="index.html">logo</a>
                    	<div class="account">	
                    	    <%= link_to "Register", "/register", {:class => "regi"} %> 
							<%= link_to "Login", "/login", {:class => "login"} %>		
						</div>                       	               
               		</div><!--hed_box-->
                     <div id="menu"><!--menu-->
                     	<ul>
							<li class="ative"> <a class="a"href="#">Home </a></li>
                            <li><a href="#"> Movies </a></li>
                            <li><a href="#">Coming Soon </a></li>
                            <li><a href="#">Music  </a></li>												
							<li><a href="#">Recommendations you may enjoy   </a></li>
                            <li><a href="#">Anime  </a></li>	
                             <li><a href="#">Games </a></li>				
						</ul>
                        <div class="Search_box">
                        	<input name="" type="text"  class="Search" value="Search millions of videos" />
                            <input name="" class="sub"  value="Search" type="submit" />
                        </div>
                     </div> <!--menu-->      
             	 </div><!--header-->    
   
          <div class="midpanel" style="padding-top:30px;"><!--midpanel-->
              <%= yield %>  
          </div><!--midpanel-->
          
          <div class="bottom"></div>        	
          </div><!--wrapper-->
          <div id="footer"><!--footer-->
          <div class="footer" >
          	<ul>
            	<li> <label>Site Link</label>
					<a href="#">Video by Category Sitemap</a>
                </li>
                <li> <label>More Gawkk</label>
					<a href="#">@Gawkk on Twitter</a>
                </li>
                <li> <label>About Gawkk</label>
					<a href="#">About US</a>
                    <a href="#">Contact Us</a>
                </li>
                <li> <label>Help</label>
					<a href="#">Frequent Questions</a>
                </li>
                <li style="background:none;"> <label>Legal</label>
					<a href="#">Terms of Use</a>
                    <a href="#">Privacy Policy</a>
                	</li>
	           </ul>
                   © Copyright 2007-2011 Share video with friends. Gawkk.com. All Rights Reserved.
           </div>
        </div><!--footer-->
	</body>
     
</html>
