<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
	<head>
		<link href="/stylesheets/default.fbml.css?<%= Time.now.to_i %>" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/common.fbml.css?<%= Time.now.to_i %>" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/video.fbml.css?<%= Time.now.to_i %>" media="screen" rel="stylesheet" type="text/css" />
		<script src="/javascripts/prototype.js?<%= Time.now.to_i %>" type="text/javascript"></script>
		<script src="/javascripts/effects.js?<%= Time.now.to_i %>" type="text/javascript"></script>
		<script src="/javascripts/dragdrop.js?<%= Time.now.to_i %>" type="text/javascript"></script>
		<script src="/javascripts/controls.js?<%= Time.now.to_i %>" type="text/javascript"></script>
		<script src="/javascripts/facebook_helpers.js?<%= Time.now.to_i %>" type="text/javascript"></script>
	</head>
	<body style="overflow:hidden;width:760px;">
		<%= yield  %>
		<div id="FB_HiddenIFrameContainer" style="display:none; position:absolute; left:-100px; top:-100px; width:0px; height: 0px;"></div>
		<div style="clear:both;width:100%;"><!-- Hack for iframe resizing in webkit --></div>
		<script src="http://static.ak.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
		<script type="text/javascript">adjustFrameHeight();</script>
	</body>
</body>